<div class="success-message">
  {{fa-icon "sign-in"  size="3x"}}
  <h3 class="au-display-lg">You haven't signed in!</h3>
  <p>
    To access this page please
    {{link-to "login" "sign-in"}}
    first.
  </p>
</div>
