<div class="success-message">
  {{fa-icon "sign-out" size="3x"}}
  <h3 class="au-display-lg">You are logged in!</h3>
  <p>To access this page please
  <a
    class="au-btn au-btn--tertiary au-btn--dark no-padding"
    onclick={{action "logout"}}
  >logout</a>
  first.</p>
</div>
