<div class="telco-product-row">
  {{name}}
  <div class="right-link">
    {{#link-to "telco-form" form class="au-cta-link small"}}
      {{if product "Edit" "Add this product"}}
    {{/link-to}}
  </div>
</div>
<hr>
