<div id={{id}} class="telco-product-stack">
  <h4 class="au-display-md"><b>{{title}}</b></h4>
  <hr>
  {{yield}}
  <div class="right-link back-to-top">
    <a onclick={{action "topClick" preventDefault=true}}>Back to top ↑</a>
  </div>
  <br>
</div>
