<div id={{id}} class="telco-product-stack">
  <h3>{{title}}</h3>
  <hr>
  {{yield}}
  <div class="right-link">
    <a onclick={{action "topClick" preventDefault=true}}>Back to top ↑</a>
  </div>
  <br>
</div>
