<footer
  class="au-footer au-footer--dark au-body au-body--dark"
  role="contentinfo"
>
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h4>About buy.nsw</h4>
            <hr>
            <div>
              <a
                href="https://www.digital.nsw.gov.au/policy/buying-ict"
              >
                About the program
              </a>
            </div>
            <div><a href="/performance">Performance Dashboard</a></div>
            <div><a href="https://www.digital.nsw.gov.au/blog">Digital NSW blog</a></div>
            <div><a href="https://github.com/digitalnsw/buy-nsw">Source Code</a></div>
          </div>
          <div class="col-sm-4">
            <h4>Guidance</h4>
            <hr>
            <div><a href="/guides/buyer">Buyer guide</a></div>
            <div><a href="/guides/seller">Seller guide</a></div>
            <div><a href="https://www.procurepoint.nsw.gov.au/">Procurepoint</a></div>
          </div>
          <div class="col-sm-4">
            <h4>Help</h4>
            <hr>
            <div><a href="/contact">Contact us</a></div>
          </div>
        </div>
      </div>

      <section class="col-sm-12">
        <div class="au-footer__end">
          <nav class="col-md-11">
            <ul class="au-link-list au-link-list--inline">
              <li><a href="/privacy">Privacy Statement</a></li>
              <li><a href="/terms-of-use">Terms of use</a></li>
              <li><a href="/accessibility">Accessibility statement</a></li>
              <li><a href="/license">License and attribution</a></li>
            </ul>
            <ul class="au-link-list au-link-list--inline">
              <li>Built by <a href="https://www.finance.nsw.gov.au/">NSW Department of Finance, Services and Innovation</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  </div>
</footer>
