<header class="au-header au-header--dark" role="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{#link-to "index" class="au-header__brand"}}
          <img
            class="au-header__brand-image"
            alt="Insert alternate text here"
            src="/_/images/logo-white.svg"
          >
          <div class="au-header__text">
            <h2 class="au-header__heading au-display-xxl">buy.nsw</h2>
            <div class="au-header__heading au-display-md">Simpifying procurement for NSW government</div>
          </div>
        {{/link-to}}
      </div>
    </div>
  </div>
</header>
