<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_manage}}
  <b>Manage resource performance so that services meet SLA objectives</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_create}}
  <b>Create and maintain a capacity plan.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_review}}
  <b>Continually reviewing current service capacity and service performance</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_assess}}
  <b>Gather and assess data regarding service usage, and documenting new requirements as necessary</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_implementation}}
  <b>Guide the implementation of changes related to capacity </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_service}}
  <b>Service capacity objectives are provided within the constraints of any existing component service agreements that are in place with either the Eligible Customer or through other sub-contractors to the Eligible Customer. </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.capacity_improvement}}
  <b>Continuous Improvement: all managed services must be reviewed at least yearly to ensure they continue to meet industry best practice and Eligible Customer security requirements. Findings need to be documented and presented to the Eligible Customer and Contract Authority and the required remediation and service improvements must be implemented within 3 months by the Tenderer.</b>
{{/telco-forms/shared/service-compliance}}
