<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.change_management}}
  <b>Change management in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_request}}
  <b>Change Request reporting includes:</b>
  <ol type="I">
    <li>A Change Request reference ID</li>
    <li>The estimated time to fulfil</li>
    <li>Priority of the Change</li>
    <li>Impact Assessment</li>
    <li>Risk Assessment, including mitigation</li>
    <li>Testing plans/procedures</li>
  </ol>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_notification}}
  <b>Reasonable notification of any Changes, in alignment with the Eligible Customer’s processes.</b>
  <ul>
    <li>Emergency Change = 4 hours</li>
    <li>Standard Change = 10 business days</li>
  </ul>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_implement}}
  <b>Implement Changes with minimal disruption to the Eligible Customer’s business and operations</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_designated}}
  <b>Where a change may be designated as potentially impacting the Eligible Customer the change will be executed through the Eligible Customer’s internal Change Advisory Board (“CAB”)</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_maintainance}}
  <b>Eligible Customer impacting maintenance windows are synchronised and agreed with the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_detail}}
  <b>Each change request must have a sufficient level of detail provided such that the Eligible Customer can understand the process, implications, contingency and testing to be undertaken</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_risk}}
  <b>Provide risk analysis and impact statements for changes on managed services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_docs}}
  <b>Current as-built documentation must be maintained for all services provided, and updated within one month of any change.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_security}}
  <b>Provide security, functional and operational support advice on the suitability and risk profile of any changes requested.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.change_control}}
  <b>Changes to services must adhere to Eligible Customers change control processes.</b>
{{/telco-forms/shared/service-compliance}}
