<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b>Incident Management</b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_classification}}
  <b>Incident classification, response and rectification in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_resources}}
  <b>Resources to affect a resolution or workaround during the contracted hours of service within agreed SLAs.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_tenderer}}
  <b>The Tenderer will update the Eligible Customer with regular and up to date incident management information for all P1 and P2 incidents as per agreed SLA. The expectation is to receive updates on an hourly basis at a minimum.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_request}}
  <b>The option for the Eligible Customer to request up to date incident management information for all P1 and P2 Problems at intervals shorter than 1 hour.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_report_p1}}
  <b>A Post Incident Report for all P1 incidents within two business days of the resolution of an Incident.
Report to include provisional root cause, summary of related events and any mitigation action.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_report_p2}}
  <b>A Post Incident Report for all P2 incidents on request within two business days of the resolution of an Incident.
Report to include provisional root cause, summary of related events and any mitigation action.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_responsible}}
  <b>In circumstances where incident ownership is unclear, use all reasonable means to work with the Eligible Customer and its other Tenderers to identify the party responsible.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_assistance}}
  <b>Provide assistance with developing and documenting processes regarding interfaces, interaction, interdependencies and responsibilities between the Tenderer and other Tenderers appointed by the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_record}}
  <b>Keep any Incident recording, tracking and status information used in the delivery of the Services accurate and current in the Tenderer's ITSM Tool</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_training}}
  <b>Provide appropriate training and documentation to the Eligible Customer’s Service Desk, if available, to enable it to provide first level support to Users</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_calls}}
  <b>The Tenderer must accept calls, web queries, emails and faxes made to the Tenderer’s Service Desk from any persons (including the Eligible Customer's authorised technical representative) nominated by the Eligible Customer for the purposes of that person reporting Incidents to the Tenderer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_reporting}}
  <b>Incident reporting includes:</b>
  <ul>
    <li>An Incident reference ID</li>
    <li>Updates that clearly indicate the nature of the Incident</li>
    <li>The estimated time to resolve</li>
    <li>Potential short-term workarounds</li>
  </ul>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_tracking}}
  <b>Provide tracking and reporting on any backlog of unresolved Incidents on a daily basis, or as reasonably requested by the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_statistics}}
  <b>Provide monthly reports on Incidents (not data dumps) including statistics on:</b>
  <ol type="I">
    <li>total numbers of Incidents;</li>
    <li>outstanding Incidents;</li>
    <li>average time taken to resolve Incidents;</li>
    <li>The number of Incidents meeting or exceeding the target timeframes specified in the Service Levels or as agreed with Eligible Customer; and</li>
    <li>a 12 month rolling Incidents trend analysis, including average time to resolve Incidents. These reports must also include impact analysis and risk assessments based on the trend analysis, recommendations for actions to be taken to remove any adverse trends that have been identified</li>
  </ol>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.incident_cyber}}
  <b>Tenderers must be able to provide timely incidents reports (with advice to the Eligible Customer) to CERT Australia when a cyber security incident occurs.</b>
{{/telco-forms/shared/service-compliance}}
