<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_information}}
  <b>Provide Information Security Management accordance with the Service Description - Common Services. </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_security}}
  <b>Ensure that the security information is available to enable informed decision-making related to the Services</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_understanding}}
  <b>Ensure that the Eligible Customer has a clear and common understanding of the security level of each Service and its constituent parts and how to be leverage them</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_compliance}}
  <b>Provide a security report detailing compliance with the Eligible Customer’s security requirements</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_breach}}
  <b>Provide a report on any Security related breach to the service to Eligible Customer and Contract Authority</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.ism_improvement}}
  <b>Provide the plan to provide an ongoing assessment of the security posture of the services provided and how they will be continually improved</b>
{{/telco-forms/shared/service-compliance}}
