<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Your Voice product:</h3>
    <h2 class="au-display-lg form-title"><b>ISDN - Basic Rate Access</b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
    <hr>
    {{telco-forms/shared/sla-availability
      product=(mut product)
      showError=showError
    }}
    {{telco-forms/shared/location-reachability
      product=(mut product)
      items=(array
        (hash key="metro" label="Metro")
        (hash key="regional" label="Regional")
        (hash key="remote" label="Remote")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/simultaneous_calls
      product=(mut product)
      items=(array
        (hash key="2" label="2")
        (hash key="4" label="4")
        (hash key="6" label="6")
      )
    }}
  </div>
</div>
<div class="clear-both"></div>
