<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.knowledge_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.knowledge_information}}
  <b>Ensure that the correct information is available to enable informed decision-making related to the Service</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.knowledge_portfolio}}
  <b>Provide a Service Portfolio that includes:</b>
  <ul>
    <li>Contract management information</li>
    <li>Tenderer and third-party management information system</li>
    <li>Availability, capacity, and security management information</li>
    <li>Network Schematics and Testing results</li>
    <li>Continual Service Improvement (CSI) register</li>
  </ul>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.knowledge_docs}}
  <b>The Documentation should be available online in the Service Management Portal</b>
{{/telco-forms/shared/service-compliance}}
