<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_classification}}
  <b>Problem classification and rectification in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_resources}}
  <b>Resources to effect a resolution or workaround during the contracted hours of service within agreed SLAs.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_update}}
  <b>The Tenderer will update the Eligible Customer with regular and up to date Problem management information for all P1 and P2 Problems as per agreed SLA. The expectation is to receive updates on an hourly basis at a minimum.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_request}}
  <b>The option for the Eligible Customer to request up to date Problem management information for all P1 and P2 Problems at intervals shorter than 1 hour.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_report_p1}}
  <b>A Post Problem Report for all P1 Problems within two business days of the resolution of an Problem.
Report to include provisional root cause, summary of related events and any mitigation action.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_report_p2}}
  <b>A Post Problem Report for all P2 Problems on request within two business days of the resolution of an Problem.<br>
Report to include provisional root cause, summary of related events and any mitigation action.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_record}}
  <b>Keep any Problem recording, tracking and status information used in the delivery of the Services accurate and current in the Tenderer's ITSM Tool</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_training}}
  <b>Provide appropriate training and documentation to the Eligible Customer’s Service Desk, if available, to enable it to provide first level support to Users</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_reporting}}
  <b>Problem reporting includes:</b>
  <ul>
    <li>A Problem reference ID</li>
    <li>At least one related Incident refence ID</li>
    <li>Updates that clearly indicate the nature of the Problem</li>
    <li>The estimated time to resolve</li>
    <li>Potential short-term workarounds</li>
  </ul>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_tracking}}
  <b>Provide tracking and reporting on any backlog of unresolved Problems on a daily basis, or as reasonably requested by the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_statistics}}
  <b>Provide monthly reports on Problems (not data dumps) including statistics on:</b>
  <ol type="I">
    <li>total numbers of Problems;</li>
    <li>outstanding Problems;</li>
    <li>average time taken to resolve Problems;</li>
    <li>the number of Problems meeting or exceeding the target timeframes specified in the Service Levels or as agreed with Eligible Customer; and</li>
    <li>a 12 month rolling Problems trend analysis, including average time to resolve Problems. These reports must also include impact analysis and risk assessments based on the trend analysis, recommendations for actions to be taken to remove any adverse trends that have been identified</li>
  </ol>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_cyber}}
  <b>Tenderers must be able to provide timely Problems reports (with advice to the Eligible Customer) to CERT Australia when a cyber security Problem occurs.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_proactive}}
  <b>Proactive Problem Management - identifying and solving problems before any incidents have occurred</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_reactive}}
  <b>Reactive Problem Management - problem solving after an incident arises </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_root_cause}}
  <b>As part of each Root Cause Analysis, the Tenderer must identify preventive measures and make recommendations to fix Root Causes</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_trends}}
  <b>Provide Problem Management reports monthly of active Problems and Problems closed within the last month for trend analysis</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_contact}}
  <b>Allocate a single Tenderer point of contact in respect of Problem Management and notify Eligible Customer of the details of that single point of contact.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_emergency}}
  <b>Provide and maintain an emergency contact list and escalation procedures necessary to analyse and resolve Problems. The escalation list must contain Eligible Customer, other Tenderer and Tenderer escalation contact points</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.problem_exception}}
  <b>The Tenderer must provide Problem exception reports and Root Cause Analysis reports for Problems, including permanent corrective action plans, as soon as reasonably possible after the occurrence of the Problem</b>
{{/telco-forms/shared/service-compliance}}
