<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.release_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.release_plan}}
  <b>Provide a release plan highlighting the activity domain on new releases.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.release_impact}}
  <b>Provide impact assessment and incremental features of new release</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.release_test}}
  <b>Provide the Eligible Customer the opportunity to test the release prior to its implementation</b>
{{/telco-forms/shared/service-compliance}}
