<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.request_service}}
  <b>Service request fulfilment in accordance with the Service Description - Common Services. </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_response}}
  <b>Response to urgent service-requests in 15 minutes<br>
Response to standard service-requests in 30 minutes<br>
Response to low-priority service-requests in 2 hours</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_fulfilment}}
  <b> Fulfilment of urgent service-requests in 12 hours<br>
 Fulfilment of standard service-requests in 2 business days<br>
 Fulfilment of low-priority service-requests in 5 business days</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_report}}
  <b>Quarterly report of the service fulfilment performance</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_implementation}}
  <b>Post implementation reviews on request</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_self_service}}
  <b>Self-Service - Provide any access, tools and processes necessary for the Eligible Customer Service Desk and the Eligible Customer to perform common Service Requests that can be performed remotely without the need of a visit to a Location </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_calls}}
  <b>The Tenderer must accept calls, web queries, emails and faxes made to the Tenderer’s Service Desk from any persons (including the Eligible Customer's authorised technical representative) nominated by the Eligible Customer for the purposes of that person raising Service Requests to the Tenderer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_statistics}}
  <b>Provide monthly reports on Service Requests (not data dumps) including statistics on:</b>
  <ol type="I">
    <li>total numbers of Service Requests;</li>
    <li>outstanding Service Requests;</li>
    <li>average time taken to fulfil Authorised Service Requests;</li>
    <li>the number of Service Requests meeting or exceeding the target timeframes specified in the Service Levels or as agreed with Eligible Customer; and</li>
    <li>a 12 month rolling Service Request trend analysis, including average time to fulfil Authorised Service Requests. These reports must also include impact analysis and risk assessments based on the trend analysis, recommendations for actions to be taken to remove any adverse trends that have been identified</li>
  </ol>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_reporting}}
  <b>Service Request reporting includes:</b>
  <ol type="I">
    <li>A Service Request reference ID</li>
    <li>The estimated time to fulfil</li>
    <li>Information that clearly indicate the nature of the Service Request</li>
  </ol>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_status}}
  <b>Provide a report on the status of all complex service requests</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_health}}
  <b>Provide a Service Request health status report for each Service Request that has or is likely to miss its planned delivery dates as specified in the Service Levels or as agreed with Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_tracking}}
  <b>Provide tracking and reporting on any backlog of unresolved Incidents on a daily basis, or as reasonably requested by the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.request_billing}}
  <b>Provide a monthly Billing Report per service request that contains volumes and comparisons to Service Request Volumes for the previous six months.</b>
{{/telco-forms/shared/service-compliance}}
