<div class="row">
  <div class="col-sm-36">
    <br>
    <h3 class="au-display-md">Your Voice product:</h3>
    <h2 class="au-display-lg form-title"><b>SIP Trunk - IP</b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
    <hr>
    {{telco-forms/shared/sla-availability
      product=(mut product)
      showError=showError
    }}
    {{telco-forms/shared/location-reachability
      product=(mut product)
      items=(array
        (hash key="metro" label="Metro")
        (hash key="regional" label="Regional")
        (hash key="remote" label="Remote")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-36">
    <br>
    {{telco-forms/shared/simultaneous_calls
      product=(mut product)
      items=(array
        (hash key="2" label="2")
        (hash key="5" label="5")
        (hash key="10" label="10")
        (hash key="20" label="20")
        (hash key="30" label="30")
        (hash key="50" label="50")
        (hash key="100" label="100")
        (hash key="150" label="150")
        (hash key="200" label="200")
        (hash key="300" label="300")
        (hash key="500" label="500")
        (hash key="1000" label="1000")
      )
    }}
  </div>
</div>
<div class="clear-both"></div>
