p.home-title {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 2rem;
  b.dark-blue {
    color: $AU-colordark-background;
  }
  a.au-cta-link {
    text-decoration: none;
  }
}

div.right-arrow {
  color: $AU-colordark-background;
  float: right;
  min-width: 60px;
  padding-top: 10px;
  padding-left: 40px;
  vertical-align: center;
  font-size: 40px;
}

div.home-top-links {
  a {
    text-decoration: none;
  }
  p.au-callout--home-top {
    border-left: 0.7rem solid $AU-colordark-background;
    min-height: 3rem;
    padding-left: 2rem;
    a {
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    &.light {
      div.right-arrow {
        color: $NSW-colordark-foreground-border;
      }
      border-left: 0.7rem solid $NSW-colordark-foreground-border;
    }
  }
}

div.home-middle-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  padding: 1rem 3rem 2rem 3rem;
  div.right-arrow {
    color: $NSW-colordark-foreground-border;
  }
  a.au-cta-link {
    text-decoration: none;
  }
  h6 {
    margin: 1.0rem 2rem;
  }
  hr {
    margin: 1.5rem;
  }
  div.highlight {
    border-left: 0.5rem solid $NSW-colordark-foreground-border;
    padding: 1rem 0 0.5rem 1rem;
  }
  background-color: white;
  i.date {
    color: $AU-colorblack-background;
  }
}

div.home-news-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  padding: 20px;
  div.right-arrow {
    color: $NSW-colordark-foreground-border;
  }
  h6 {
    margin-top: 7px;
  }
  hr {
    margin: 1.0rem -1.3rem;
  }
  div.highlight {
    border-left: 0.5rem solid $NSW-colordark-foreground-border;
    padding: 1rem 0 0.5rem 1rem;
  }
  background-color: white;
  span.date {
    color: $AU-colorblack-background;
  }
}
