/*
  styles confined to pages with the new design (side + main); initially used in supplier account pages
*/

body {
  font-family: MontserratRegular, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
	text-size-adjust: 100%;
}

// override default settings within wayfinder components:
.wayfinder {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  // new max-widths for containers inside any sectioning element (header, nav, main), with wayfinder class:
  .container-fluid {
    @include AU-space( max-width, 62.66unit ); // 940px + 2rem + 2rem
  }
}

// override default settings within the wayfinder main content:
main.wayfinder {
  h2 {
    @include AU-space( font-size, 2unit); //32px
  }
  h3 {
    @include AU-space( font-size, 1.5unit); //24px
    font-family: MontserratBold;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}

// feature boxes; currently 2 styles - .landing (welcome - large & white) and .G (rego - green)
@include AU-media( sm ) {
  .feature {
    @include AU-space( margin-bottom, 2.75unit ); //44px
    @include AU-space( padding, 1.5unit 2.5unit); //24px 40px
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
    &.landing {
      background: #fff;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,.45); //#979797
      @include AU-space( padding, 2.25unit 5unit); //36px 80px
      z-index: 1;
      > h2 {
        @include AU-space( border-width, 0 0 .75unit 0);
        border-style: solid;
        border-image: linear-gradient( to right, $seaweed, transparent) 100% 1;
        @include AU-space( font-size, 3unit); //48px
        font-weight: 300;
        line-height: 1;
        @include AU-space( margin-bottom, 1.5unit);
        @include AU-space( padding-bottom, 1.25unit);
      }
      > p {
        @include AU-space( font-size, 1.2unit);
      }
      > .btn {
        width: 210px;
      }
    }
    &.G {
      background: linear-gradient( to right, $seaweed, $sea);
      border-left: 5px solid $hospital-green;
      color: #fff;
    }
  }

  .flex-sm {
    display: flex;
    > .btn {
      @include AU-space( margin-left, 1.5unit);
      max-width: 200px;
    }
  }
}

@include AU-media( md ) {
  main.landing {
    background: $pale-grey;;
    position: relative;
    &:after {
      background: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1744 330"><path d="M1744 23.9c-332.5-110.5-517.9 196.2-955.1 227.5-384.4 27.5-560-33.6-660.9-69.2 0 0-17.9-8.9-50-16.6-12.1-3.4-23-5.7-33.2-6.4-13.5-2-28.6-3.5-44.9-4.1v560h1744V23.9z" fill="#002664"></path></svg>') bottom right/120% no-repeat transparent; 
      content: "";
      height: 450px;
      left: 0;
      position: absolute;
      top: -1px;
      // flip curve img used in footer:
      transform: scaleY(-1);
      // prevent slight gap opening up on right side (add .1%):
      width: 100.1%;
    }
  }

  .feature.landing {
    padding-right: 60%;
    position: relative;
    &:after {
      background: url(/ict/images/landing-people.svg) no-repeat 0 0;
      content: "";
      height: 284px;
      left: 250px;
      position: absolute;
      top: 84px;
      width: 940px;
    }
  }
}

// callout boxes
.callout, .callouts section {
  @include AU-space( margin-bottom, 1.5unit );
  @include AU-space( padding, 0 0 2.5unit 0);
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  // green headings; dark grey border-bottom:
  &.G {
    border-bottom: 2px solid $BUY-color-foreground-text;
    h3 {
      color: $seaweed;
    }
  }
  // white background and green border-left:
  &.WG {
    background: #fff;
    border-left: 5px solid $seaweed;
    @include AU-space( padding, 1.5unit 2.5unit); //24px 40px
    position: relative;
    &:after {
      position: absolute;
      @include AU-space( top, 1.5unit);
      @include AU-space( right, 1.5unit);
    }
    h3 {
      color: $BUY-color-foreground-text;
      @include AU-space( margin-right, 1unit);
    }
  }
  // dark blue headings; grey border-bottom
  &.DB {
    border-bottom: 2px solid $mid-grey;
    h3 {
      color: $marine-blue;
    }
  }
  &:after {
    font-family: MontserratRegular;
    @include AU-space( font-size, 2.25unit );
    line-height: .8;
    content: "\2192"; // →
    float: right;
  }
}

.callouts, .callout {
  a p, &:after, section:after {
    color: $BUY-color-foreground-text;
  }
}

.callouts.flex-sm > div:first-of-type {
  @include AU-space( margin-right, 6unit );
}

// buttons
.btn {
  font-family: MontserratBold;
  @include AU-space( font-size, 1.25unit );
  background: #0065f9;
  @include AU-space( border-radius, .25unit );
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  @include AU-space( padding, .75unit 1.25unit .75unit);
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  &:hover {
    text-decoration: underline;
  }
  &.arr {
    &:after {
      font-family: MontserratRegular;
      @include AU-space( font-size, 1.5unit );
      line-height: .8;
      vertical-align: middle;
    }
    &.R:after {
      content: "\2794"; //→
      @include AU-space( margin-left, 1unit );
    }
  }
  &.bc-db {
    border: 2px solid #fff;
  }
}

// tabbed navigation and tabbed sections
@mixin active-tab {
  background: $marine-blue;
  color: #fff;
  position: relative;
  &:after {
    content: "\00a0";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    background: transparent;
    border-top-color: $marine-blue;
    border-width: 10px 8px;
    left: 50%;
    bottom: -20px;
    margin-left: -4px;
  }
}

.tabs {
  @include AU-space( margin-bottom, 3unit );
  > h4 {
    @include screen-hidden;
  }
  > ul {
    border-bottom: 2px solid $ugly-blue;
    font-family: MontserratBold;
    @include AU-space( font-size, 1.25unit );
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    padding: 0;
    @include clearfix;
    > li {
      box-shadow: 2px 0 17px 0 rgba(0,0,0,.45); // #979797
      float: left;
      > a {
        background: #fff;
        border-radius: 4px 4px 0 0;
        color: #000;
        display: inline-block;
        @include AU-space( padding, 1unit 2.25unit);
        // TODO - set focus on page load via JavaScript; then uncomment following rule:
        /*&:focus {
          @include active-tab;
        }*/
      }
      // TODO - set focus to first tab on page load via JavaScript; then remove following rule:
      &:first-child {
        > a {
          @include active-tab;
        }
      }
    }
  }
}


.tab {
  background: $pale-grey;
  @include screen-hidden;
  // TODO - set focus on page load via JavaScript; then uncomment following rule:
  /*&:target {
    @include screen-visible;
  }*/
}

// TODO - set focus to first tab on page load via JavaScript; then remove following rule:
.tabs + .tab {
  @include screen-visible;
}



// ### TODO - consider replacing .sapphire-main, .sapphire-article, .sapphire-nav, .sapphire-form with either:
//   body.wayfinder, then: .wayfinder main, .wayfinder article, .wayfinder nav, .wayfinder form   OR
//   main.wayfinder, article.wayfinder, nav.wayfinder, form.wayfinder
//   depending on need for alternate styles within body.wayfinder; 
//   implement when .wayfinder styles applied across site

.sapphire-main {
  // ### TODO - remove rule when .wayfinder styles applied across site
  .au-body * + p {
    @include AU-space( margin-top, 1unit );
  }
  article {
    border-top: 1px solid $BUY-color-border-grey-alt;
    // border-bottom: 1px solid $BUY-color-border-grey-alt;
    @include AU-space( margin-left, 1unit );
    .cool-infobox {
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      &.sapphire {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        @include AU-space( padding, .7unit 2unit .7unit .7unit );
      }
      svg {
        @include AU-space( margin, .5unit 1.5unit .5unit .5unit );
      }
    }
    h3 {
      &:first-of-type {
        @include AU-space( margin-top, 0 );
      }
    }
  }
  nav {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    @include AU-space( padding-right, 1.5unit );
    h4 {
      color: $BUY-color-foreground-text;
      @include AU-fontgrid( sm );
      margin-bottom: 0;
      @include AU-space( padding-left, .75unit );
    }
  }
  // ### TODO - remove '.au-grid' when .wayfinder styles applied across site
  //  padding variations (override .au-grid settings):
  .au-grid & {
    .sapphire-article, .sapphire-nav {
      @include AU-space( padding-top, 2unit );
      @include AU-space( padding-bottom, 1.5unit );
    }
  }
  // ### TODO - replace selectors with .btn(.thin .tertiary) when .wayfinder styles applied across site
  .au-btn {
    @include AU-space( font-size, .87unit );
    @include AU-space( padding, .3unit 2unit );
    &.au-btn--thin {
      @include AU-space( padding, .3unit 2unit );
    }
    &:not(.au-btn--tertiary) {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  hr {
    border-top: 1px solid #E0E0E0;
    @include AU-space( margin, 1unit 0 1unit 0 );
  }
  .cool-infobox {
    &.sapphire {
      @include AU-space( padding, 1unit );
    }
  }
  h2, h3, h4, h5, p {
    @include AU-space( margin-bottom, 1unit );
  }
  h4 {
    color: $BUY-color-heading-blue;
    font-weight: 600;
  }
  h3, h5, h6 {
    font-family: MontserratBold;
  }
  dt {
    font-weight: 600;
  }
  dd {
    @include AU-space( margin, .5unit 0 );
  }
  // variation with border below each dd:
  dl.alt {
    > dt {
      @include AU-space( margin-bottom, .75unit );
      &:not(:first-of-type) {
        border-top: 1px solid #E0E0E0;
        @include AU-space( margin-top, 1unit );
        @include AU-space( padding-top, .75unit );
      }
    }
  }
  // variation with no margin between each dd
  dl.alt-2 {
    > dt {
      @include AU-space( margin-bottom, .25unit );
    }
    > dd {
      margin: 0;
    }
  }
}

// for medium and large screens only (> 992px)
@media only screen and (min-width: $AU-media-md) {
  // increase padding for sapphire-article and -nav
  // ### TODO - remove '.au-grid .sapphire-main' when .wayfinder styles applied across site
  .au-grid .sapphire-main {
    .sapphire-article {
      @include AU-space( padding, 2unit 3unit 1.5unit 4.5unit );
    }
    .sapphire-nav {
      @include AU-space( padding, 2unit 1.5unit 1.5unit 3unit );
    }
  }
  // max-widths for any element (principally for text inputs) 
  // in narrower viewports (< 992), text inputs will be 100% of their container
  // NB - column width classes such as .col-md-11, are problematic since they include float and padding
	.maxw-200 {
		max-width: 200px;
	}
	.maxw-300 {
		max-width: 300px;
	}
	.maxw-550 {
		max-width: 550px;
	}
}

.status__reporter {
  @include AU-fontgrid( xs );
  @include AU-space( margin-top, .25unit );
}

/*
  sapphire form layout
    text inputs - label above input; label - margin-bottom; input - 1px border
    checkbox, radio, select, textarea, validation etc
    tied to isSimple boolean
 */
.sapphire-form {
  background: #fbfcfd;
  [type=date], [type=password], [type=text], select {
    box-sizing: border-box;
    font-family: inherit;
    @include AU-fontgrid( sm, nospace ); // using default to make sure we don’t crop descenders and ascenders
    @include AU-space( margin-bottom, 1unit);
	  @include AU-space( padding, 0.25unit .5unit );
    width: 100%;
  }
  label {
    //color: $BUY-color-label-shade; // in Axure for login details, but all other labels are dark grey
    display: block;
    font-weight: 600;
    @include AU-space( margin-bottom, .5unit );
  }
  .minor {
    label {
      @include AU-fontgrid( xs );
    }
  }
  select {
    // custom down arrow:
    background: AU-svguri('<svg fill="#{ $AU-color-foreground-action }" width="1.5em" height="auto" viewBox="0 0 28 12" xmlns="http://www.w3.org/2000/svg">' +
        '<path d="M1.9 1.1L8 7.2l6.1-6.1L16 2.9l-8 8-8-8 1.9-1.8z"/>' +
        '<path fill="none" d="M2-5.8h24v24H2v-24z"/>' +
      '</svg>') right center/1.5em auto no-repeat #fff;
    // match default block-size of text input:
    block-size: 30px;
    // match default border colour of text input:
    border: 1px solid rgb(218, 218, 218);
    // remove default down arrow (note - also works in Firefox & Edge):
    -webkit-appearance: none;
    position: relative;
  }
  // remove default down arrow in a select, for IE:
  ::-ms-expand {
		display: none;
  }
  [type=date] {
    max-width: 200px;
  }
  [type=checkbox], [type=radio] {
    @include AU-sronly();
    + label {
      align-items: center;
      display: flex;
      min-height: 28px;
      padding-left: 45px;
      position: relative;
      &:before {
        background: #fff;
        border: 1px solid $BUY-color-foreground-text;
        content: '\00a0';
        display: inline-block;
        height: 24px;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
      }
    }
    &:checked + label:after {
      content: '\00a0';
      position: absolute;
    }
    &:disabled + label:before {
      border-color: $BUY-color-minimal-grey;
    }
  }
  [type=checkbox] {
    &:checked + label:after {
      background: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" class=""></path></svg>') 0 0/contain no-repeat transparent;
      left: 4px;
      height: 18px;
      top: 4px;
      width: 18px;
    }
  }
  [type=radio] {
    + label {
      &:not(.b) {
        font-weight: 300;
      }
      &:before {
        border-radius: 50%;
      }
    }
    &:checked + label:after {
      background: grey;
      border-radius: 50%;
      left: 7px;
      height: 12px;
      top: 7px;
      width: 12px;
    }
  }
  [autocomplete=new-password] + .show-hide {
    @include AU-space( font-size, .87unit );
  }
  // checkbox-tree
  .checkbox-group {
    @include AU-space( margin, 0 0 1.5unit 2.75unit);
    label {
      font-weight: 300;
      @include AU-space( margin-bottom, 1unit);
    }
  }
  textarea {
    box-sizing: border-box;
    font-family: inherit;
    max-width: 600px;
    @include AU-space( min-height, 7unit);
    @include AU-space( padding, .5unit 1unit);
    width: 100%;
  }
  .textarea-pair label {
    font-weight: 300;
  }
  .count {
    @include AU-space( font-size, .8unit);
    font-weight: 600;
  }
  .validation {
    &.error {
      color: $BUY-color-warning-alt; //$AU-color-error
    }
    &.green {
      color: $BUY-color-success-shade; //$AU-color-success
    }
    &.grey {
      color: $BUY-color-minor-text;
    }
    &.warning {
      color: $BUY-color-warning-shade; //$AU-color-warning
    }
    @include AU-space( margin-bottom, .75unit );
  }
  hr {
    @include AU-space( margin-top, .5unit );
  }
  :disabled {
    cursor: not-allowed;
  }
  // add link (plus icon)
  .add-fieldset {
    align-items: center;
    color: $BUY-color-action-primary;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    > .svg-inline--fa.fa-w-16 {
      @include AU-space( height, 1.5unit);
      @include AU-space( margin-right, 1unit);
      @include AU-space( width, 1.5unit);
      vertical-align: middle;
    }
  }
  .optional {
    color: $BUY-color-success-shade;
  }
  .input-description {
    @include AU-space( font-size, .85unit);
    // TODO - remove following 5 lines when Sapphire styling roll-out across the site is complete
    padding: 0;
    @include AU-media( sm ) {
      padding: 0;
      margin-top: 0;
    }
  }
  [type=radio] ~ .input-description {
    color: $BUY-color-minor-text;
  }
  [type=checkbox] ~ .input-description {
    @include AU-space( margin, -.5unit 45px 1unit 45px);
  }
  .files {
    > li {
      > button {
        background: $BUY-color-action-alt-shade;
        border: none;
        border-radius: 10px;
        color: #fff;
        @include AU-space( margin-left, 1unit);
        @include AU-space( padding, .2unit 1unit);
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}

/*
  styles for all pages - new and old design
*/
.tags {
  list-style-type: none;
  padding-left: 0;
  > li {
    background-color: $BUY-color-meta-tag;
    border-radius: 2px;
    color: white;
    display: inline-block;
    @include AU-space( font-size, .9unit);
    @include AU-space ( margin, 0 .5unit .8unit 0 );
    @include AU-space ( padding, .2unit .5unit );
  }
}


/*
  shorthand class names - single declarations for any element
*/
// align-items
.ai-c {
  align-items: center;
}
// background-color
.bc-db {
  background-color: $marine-blue; // navy blue
}
.bc-g {
  background-color: $sea;
}
// color
.c-db {
  color: $marine-blue;
}
.c-g {
  color: $seaweed;
}
// cursor
.cr-p {
  cursor: pointer;
}
// display
.d-b {
  display: block;
}
.d-ib {
  display: inline-block;
}
.flex {
  display: flex;
}
// float
.f-l {
  float: left;
}
.f-r {
  float: right;
}
// font-family
.st {
  font-family: MontserratBold;
}
// font-size
.fs-24 {
  @include AU-space( font-size, 1.5unit );
}
// font-style
.n {
  font-style: normal;
}
// font-weight
.b {
  font-weight: 600;
}
// margin
.mt-5 {
  @include AU-space( margin-top, .5unit );
}
.mt-10 {
  @include AU-space( margin-top, 1unit );
}
.mt-15 {
  @include AU-space( margin-top, 1.5unit );
}
.mr-5 {
  @include AU-space( margin-right, .5unit );
}
.mr-10 {
  @include AU-space( margin-right, 1unit );
}
.mr-15 {
  @include AU-space( margin-right, 1.5unit );
}
.mb-5 {
  @include AU-space( margin-bottom, .5unit );
}
.mb-10 {
  @include AU-space( margin-bottom, 1unit );
}
.mb-15 {
  @include AU-space( margin-bottom, 1.5unit );
}
.ml-5 {
  @include AU-space( margin-left, .5unit );
}
.ml-10 {
  @include AU-space( margin-left, 1unit );
}
.ml-15 {
  @include AU-space( margin-left, 1.5unit );
}
// padding
.p-5 {
  @include AU-space( padding, .5unit );
}
.p-10 {
  @include AU-space( padding, 1unit );
}
.pt-5 {
  @include AU-space( padding-top, .5unit );
}
.pt-10 {
  @include AU-space( padding-top, 1unit );
}
.pb-5 {
  @include AU-space( padding-bottom, .5unit );
}
.pb-10 {
  @include AU-space( padding-bottom, 1unit );
}
// text-align
.a-r {
  text-align: right;
}
// visibility
.v-sh {
  @include screen-hidden;
}


/*
  temp - for old forms; TODO - remove when Sapphire styling roll-out across the site is complete
*/
.au-control-input__text {
  font-family: MontserratBold;
}
.profile-upload-group {
  label {
    color: #002664;
    cursor: pointer;
    @include AU-space ( padding, .5unit 1.5unit );
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
