/*
  styles confined to pages with the new design (side + main); initially used in supplier account pages
*/

.sapphire-main {
  .au-body * + p {
    @include AU-space( margin-top, 1unit );
  }
  article {
    border-top: 1px solid $BUY-color-border-grey-alt;
    // border-bottom: 1px solid $BUY-color-border-grey-alt;
    @include AU-space( margin-left, 1unit );
    .cool-infobox {
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      &.sapphire {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        @include AU-space( padding, .7unit 2unit .7unit .7unit );
      }
      svg {
        @include AU-space( margin, .5unit 1.5unit .5unit .5unit );
      }
    }
    h3 {
      font-family: MontserratBold;
      &:first-of-type {
        @include AU-space( margin-top, 0 );
      }
    }
  }
  nav {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    @include AU-space( padding-right, 1.5unit );
    h4 {
      color: $BUY-color-foreground-text;
      @include AU-fontgrid( sm );
      margin-bottom: 0;
      @include AU-space( padding-left, .75unit );
    }
  }
  // padding variations (override .au-grid settings):
  .au-grid & {
    .sapphire-article, .sapphire-nav {
      @include AU-space( padding-top, 2unit );
      @include AU-space( padding-bottom, 1.5unit );
    }
  }
  .au-btn {
    @include AU-space( font-size, .87unit );
    @include AU-space( padding, .3unit 2unit );
    &.au-btn--thin {
      @include AU-space( padding, .3unit 2unit );
    }
    &:not(.au-btn--tertiary) {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  hr {
    border-top: 1px solid #E0E0E0;
    @include AU-space( margin, 1unit 0 1unit 0 );
  }
  .cool-infobox {
    &.sapphire {
      @include AU-space( padding, 1unit );
    }
  }
  h2, h3, h4, h5, p {
    @include AU-space( margin-bottom, 1unit );
  }
  h4 {
    color: $BUY-color-heading-blue;
    font-weight: 600;
  }
  h5 {
    font-family: MontserratBold;
  }
  dt {
    font-weight: 600;
  }
  dd {
    @include AU-space( margin, .5unit 0 );
  }
  // variation with border below each dd:
  dl.alt {
    > dt {
      @include AU-space( margin-bottom, .75unit );
      &:not(:first-of-type) {
        border-top: 1px solid #E0E0E0;
        @include AU-space( margin-top, 1unit );
        @include AU-space( padding-top, .75unit );
      }
    }
  }
  // variation with no margin between each dd
  dl.alt-2 {
    > dt {
      @include AU-space( margin-bottom, .25unit );
    }
    > dd {
      margin: 0;
    }
  }
  // shorthand class names - single declarations for any element
  // cursor
  .cr-p {
    cursor: pointer;
  }
  // display
  .d-b {
    display: block;
  }
  .d-ib {
    display: inline-block;
  }
  // font-weight
  .b {
    font-weight: 600;
  }
  // margin
  .mt-5 {
    @include AU-space( margin-top, .5unit );
  }
  .mt-10 {
    @include AU-space( margin-top, 1unit );
  }
  .mt-15 {
    @include AU-space( margin-top, 1.5unit );
  }
  .mr-5 {
    @include AU-space( margin-right, .5unit );
  }
  .mr-10 {
    @include AU-space( margin-right, 1unit );
  }
  .mr-15 {
    @include AU-space( margin-right, 1.5unit );
  }
  .mb-5 {
    @include AU-space( margin-bottom, .5unit );
  }
  .mb-10 {
    @include AU-space( margin-bottom, 1unit );
  }
  .mb-15 {
    @include AU-space( margin-bottom, 1.5unit );
  }
  .ml-5 {
    @include AU-space( margin-left, .5unit );
  }
  .ml-10 {
    @include AU-space( margin-left, 1unit );
  }
  .ml-15 {
    @include AU-space( margin-left, 1.5unit );
  }
  // padding
  .p-5 {
    @include AU-space( padding, .5unit );
  }
  .p-10 {
    @include AU-space( padding, 1unit );
  }
  .pt-5 {
    @include AU-space( padding-top, .5unit );
  }
  .pt-10 {
    @include AU-space( padding-top, 1unit );
  }
  .pb-5 {
    @include AU-space( padding-bottom, .5unit );
  }
  .pb-10 {
    @include AU-space( padding-bottom, 1unit );
  }
}

// for medium and large screens only (> 992px)
@media only screen and (min-width: $AU-media-md) {
  // increase padding for sapphire-article and -nav
  .au-grid .sapphire-main {
    .sapphire-article {
      @include AU-space( padding, 2unit 3unit 1.5unit 4.5unit );
    }
    .sapphire-nav {
      @include AU-space( padding, 2unit 1.5unit 1.5unit 3unit );
    }
  }
  // max-widths for any element (principally for text inputs) 
  // in narrower viewports (< 992), text inputs will be 100% of their container
  // NB - column width classes such as .col-md-11, are problematic since they include float and padding
	.maxw-200 {
		max-width: 200px;
	}
	.maxw-300 {
		max-width: 300px;
	}
	.maxw-550 {
		max-width: 550px;
	}
}

.status__reporter {
  @include AU-fontgrid( xs );
  @include AU-space( margin-top, .25unit );
}

/**
 * sapphire form layout
  text inputs - label above input; label - margin-bottom; input - 1px border
  checkbox - 
 */
.sapphire-form {
  background: #fbfcfd;
  [type=date], [type=password], [type=text], select {
    box-sizing: border-box;
    font-family: inherit;
    @include AU-fontgrid( sm, nospace ); // using default to make sure we don’t crop descenders and ascenders
    @include AU-space( margin-bottom, 1unit);
	  @include AU-space( padding, 0.25unit .5unit );
    width: 100%;
  }
  label {
    //color: $BUY-color-label-shade; // in Axure for login details, but all other labels are dark grey
    display: block;
    font-weight: 600;
    @include AU-space( margin-bottom, .5unit );
  }
  .minor {
    label {
      @include AU-fontgrid( xs );
    }
  }
  select {
    // custom down arrow:
    background: AU-svguri('<svg fill="#{ $AU-color-foreground-action }" width="1.5em" height="auto" viewBox="0 0 28 12" xmlns="http://www.w3.org/2000/svg">' +
        '<path d="M1.9 1.1L8 7.2l6.1-6.1L16 2.9l-8 8-8-8 1.9-1.8z"/>' +
        '<path fill="none" d="M2-5.8h24v24H2v-24z"/>' +
      '</svg>') right center/1.5em auto no-repeat #fff;
    // match default block-size of text input:
    block-size: 30px;
    // match default border colour of text input:
    border: 1px solid rgb(218, 218, 218);
    // remove default down arrow (note - also works in Firefox & Edge):
    -webkit-appearance: none;
    position: relative;
  }
  // remove default down arrow in a select, for IE:
  ::-ms-expand {
		display: none;
	}
  [type=checkbox], [type=radio] {
    @include AU-sronly();
    + label {
      align-items: center;
      display: flex;
      min-height: 28px;
      padding-left: 45px;
      position: relative;
      &:before {
        background: #fff;
        border: 1px solid $BUY-color-foreground-text;
        content: '\00a0';
        display: inline-block;
        height: 24px;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
      }
    }
    &:checked + label:after {
      content: '\00a0';
      position: absolute;
    }
    &:disabled + label:before {
      border-color: $BUY-color-minimal-grey;
    }
  }
  [type=checkbox] {
    &:checked + label:after {
      background: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" class=""></path></svg>') 0 0/contain no-repeat transparent;
      left: 4px;
      height: 18px;
      top: 4px;
      width: 18px;
    }
  }
  [type=radio] {
    + label {
      &:not(.b) {
        font-weight: 300;
      }
      &:before {
        border-radius: 50%;
      }
    }
    &:checked + label:after {
      background: grey;
      border-radius: 50%;
      left: 7px;
      height: 12px;
      top: 7px;
      width: 12px;
    }
  }
  [autocomplete=new-password] + .show-hide {
    @include AU-space( font-size, .87unit );
  }
  // checkbox-tree
  .checkbox-group {
    @include AU-space( margin, 0 0 1.5unit 2.75unit);
    label {
      font-weight: 300;
      @include AU-space( margin-bottom, 1unit);
    }
  }
  textarea {
    box-sizing: border-box;
    font-family: inherit;
    max-width: 600px;
    @include AU-space( min-height, 7unit);
    @include AU-space( padding, .5unit 1unit);
    width: 100%;
  }
  .textarea-pair label {
    font-weight: 300;
  }
  .count {
    @include AU-space( font-size, .8unit);
    font-weight: 600;
  }
  .validation {
    &.error {
      color: $BUY-color-warning-alt; //$AU-color-error
    }
    &.green {
      color: $BUY-color-success-shade; //$AU-color-success
    }
    &.grey {
      color: $BUY-color-minor-text;
    }
    &.warning {
      color: $BUY-color-warning-shade; //$AU-color-warning
    }
    @include AU-space( margin-bottom, .75unit );
  }
  hr {
    @include AU-space( margin-top, .5unit );
  }
  :disabled {
    cursor: not-allowed;
  }
  // add link (plus icon)
  .add-fieldset {
    align-items: center;
    color: $BUY-color-action-primary;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    > .svg-inline--fa.fa-w-16 {
      @include AU-space( height, 1.5unit);
      @include AU-space( margin-right, 1unit);
      @include AU-space( width, 1.5unit);
      vertical-align: middle;
    }
  }
  .optional {
    color: $BUY-color-success-shade;
  }
  .input-description {
    @include AU-space( font-size, .85unit);
    // TODO - remove following 5 lines when Sapphire styling roll-out across the site is complete
    padding: 0;
    @include AU-media( sm ) {
      padding: 0;
      margin-top: 0;
    }
  }
  [type=radio] ~ .input-description {
    color: $BUY-color-minor-text;
  }
  [type=checkbox] ~ .input-description {
    @include AU-space( margin, -.5unit 45px 1unit 45px);
  }
}

.tags {
  list-style-type: none;
  padding-left: 0;
  > li {
    background-color: $BUY-color-meta-tag;
    border-radius: 2px;
    color: white;
    display: inline-block;
    @include AU-space( font-size, .9unit);
    @include AU-space ( margin, 0 .5unit .8unit 0 );
    @include AU-space ( padding, .2unit .5unit );
  }
}

/* temp - for old forms; TODO - remove when Sapphire styling roll-out across the site is complete */
.au-control-input__text {
  font-family: MontserratBold;
}
