.form-error {
  padding-left: 0.8rem;
  padding-top: 1.2rem;
  font-size: 0.9rem;
  color: $AU-color-error;
}

h1.au-heading--dark {
  b {
    color: white;
  }
}
hr.simple-white {
  color: white;
  margin: 0;
}
h2.underline-light {
  padding-bottom: 2rem;
  border-bottom: 9px solid $NSW-colordark-foreground-muted;
  display: inline-block;
}
h2.underline-dark {
  padding-bottom: 1.8rem;
  border-bottom: 9px solid $AU-color-foreground-action;
  display: inline-block;
}
div.success-message {
  padding: 2rem;
  text-align: center;
  background-color: #0a7cb9;
  color: white;
  margin-top: 4rem;
  a {
    color: white;
  }
}
div.failure-message {
  padding: 2rem;
  text-align: center;
  background-color: $AU-color-error;
  color: white;
  margin-top: 4rem;
  a {
    color: white;
  }
}
div.sticky-nav {
  margin-left: 10px;
  @include AU-media( sm ) {
    position: absolute;
    height: calc(100% - 500px);
    width: 33.33%;
  }
}
div.max60 {
  max-width: 60rem;
}
div.pretend {
  text-align: center;
  background-color: lightyellow;
}
ul.less-left-padding {
  padding-left: 1rem;
}
p.checkbox-description {
  padding: 0.0rem 0.7rem 2rem;
  @include AU-media( sm ) {
    padding: 0rem 2rem 1.5rem 2.7rem;
    margin-top: 0.5rem;
  }
}
p.five-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
div.progress-menu {
  padding: 2rem 0;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}
div.cool-callout {
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
  border: solid 0.5px $NSW-colordark-foreground-border;
  background-color: $NSW-colordark-foreground-muted;
}
div.margin-top {
  margin-top: 1.5rem;
}
span.fixed-width {
  width: 10rem;
}
div.shaded-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 2rem;
  span.fixed-width {
    width: 8rem;
  }
}
.on-the-edge {
  position: relative;
  @include AU-space( margin-top, -1.5unit);
  @include AU-space( top, 2.7unit);
}
.au-banner__subline + .on-the-edge {
  @include AU-space( top, 1.3unit);
}
@include AU-media( sm ) {
  .on-the-edge {
    @include AU-space( top, 4.3unit);
  }
  .au-banner__subline + .on-the-edge {
    @include AU-space( top, 2.3unit);
  }
}
.full-width {
  width: 100%;
}
.fit-to-page {
  iframe.EmberYoutube-player {
    max-width: 100%;
  }
}
.member-details {
  padding: 2rem;
  border-left: 1px solid #E0E0E0;
}
.right-align {
  text-align: right;
}

// temporary? issue with sharing/syncing of buy-nsw-style files with buy-nsw-ember; for now, copy new rules here:
.au-banner .container-fluid {
	@include AU-space( padding-top, 2unit);
	@include AU-space( padding-bottom, 1unit);
	@include AU-media( sm ) {
		background-repeat: no-repeat;
		background-position: 100% 0;
		background-size: 360px;
	}
}

.au-banner .account {
	@include AU-media( sm ) {
		background-image: url("/ict/buy-nsw-style/images/account-header.png");
		background-position: 100% 20px;
	}
}

// ## TEMP remove:

// progress (indicator) menu - sapphire variant

$BUY-color-success-shade:        #278080;
$BUY-color-lock-shade:           #4b4b4b;
$BUY-color-useredit-shade:       #5167ac;
$BUY-color-active-background:    #d7d7d7;
$BUY-color-label-shade:          #122664;

.progress-menu.sapphire {
	@include AU-space( padding-right, 1.5unit );
	h4 {
		@include AU-fontgrid( sm );
		@include AU-space( padding-left, .75unit );
	}
	.au-progress-indicator {
		border-top-color: $NSW-color-background-alt-shade;
		@include AU-space( margin-top, .5unit );
	}
	.au-progress-indicator__link {
		border-left: none;
		@include AU-space( padding, .75unit 2.5unit .75unit .75unit );
		&:after {
			left: auto;
			@include AU-space( right, .5unit );
			background-image: none;
		}
		&.au-progress-indicator__link--doing {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="6.5" cy="12" r="1.5"></circle>' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="12" cy="12" r="1.5"></circle>' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="17.5" cy="12" r="1.5"></circle>' +
				'</svg>');
			}
		}
		&.au-progress-indicator__link--done {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-success-shade }" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--review {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-warning-shade }" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--user-edit {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-useredit-shade }" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h274.9c-2.4-6.8-3.4-14-2.6-21.3l6.8-60.9 1.2-11.1 7.9-7.9 77.3-77.3c-24.5-27.7-60-45.5-99.9-45.5zm45.3 145.3l-6.8 61c-1.1 10.2 7.5 18.8 17.6 17.6l60.9-6.8 137.9-137.9-71.7-71.7-137.9 137.8zM633 268.9L595.1 231c-9.3-9.3-24.5-9.3-33.8 0l-37.8 37.8-4.1 4.1 71.8 71.7 41.8-41.8c9.3-9.4 9.3-24.5 0-33.9z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--lock {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-lock-shade }" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"/>' +
				'</svg>');
				width: 1.1rem;
			}
		}
		&.active {
			background-color: $BUY-color-active-background;
			font-family: MontserratRegular;
		}
	}
	.au-progress-indicator__status {
		display: none;
	}
}

// info-box
.info-box {
  &.warning {
		color: $BUY-color-warning-shade;
		a, b {
			color: $BUY-color-warning-shade;
		}
  }
}


/**
 * simple form layout - label above input; label - blue & input - 1px border
 */
.simple-form {
  h3 {
	  @include AU-space( margin-bottom, 1unit );
  }
}
.simple-form__wrap {
  @include AU-space( margin-bottom, .5unit);
  input {
    @include AU-fontgrid( sm, nospace ); // using default to make sure we don’t crop descenders and ascenders
    min-width: 250px;
	  @include AU-space( padding, 0.25unit .5unit );
  }
	label {
    color: $BUY-color-label-shade;
    display: block;
    font-weight: 600;
	}
}

// end TEMP remove
