.product-status {
  font-family: MontserratBold;
  color: gray;
  &.live {
    color: $AU-color-success;
  }
  &.deactivated {
    color: $AU-color-warning;
  }
}
a.au-btn.no-padding, div.no-padding {
  padding: 0;
}
div.little-padding {
  padding: 0.3rem;
}
a.au-btn.right-link {
  float: right;
  margin: 0.8rem;
  font-size: 0.8rem;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
}

a.au-btn.learn-how {
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 0 0 2rem;
}

hr.less-margin {
  margin: 1.0rem 0 1.0rem 0;
}
hr.no-margin {
  margin: 0;
}
a.pointer {
  cursor: pointer;
  text-decoration: none;
}

div.feedback {
  padding-bottom: 1.5rem;
}

span.pull-left {
  padding: 0 0.5rem;
  float: left;
}

a.pull-right, span.pull-right, div.pull-right {
  padding: 0 0.5rem;
  float: right;
}

div.float-right, span.float-right, a.float-right, b.float-right, p.float-right {
  padding-right: 1rem;
  float: none;
  @include AU-media( sm ) {
    float: right;
  }
}

div.align-right, span.align-right, a.align-right, b.align-right, p.align-right {
  text-align: left;
  @include AU-media( sm ) {
    text-align: right;
  }
}

span.float-left, a.float-left, b.float-left {
  float: left;
}

.form-error {
  padding-left: 0.8rem;
  padding-top: 1.2rem;
  font-size: 0.9rem;
  color: $AU-color-error;
}

.au-body.au-body--black ::selection {
  background-color: $AU-colorblack-background;
}

b.strong--black {
  color: white;
}

footer.au-footer--black {
  input.au-text-input--dark {
    background-color: $AU-colorblack-background;
    color: white;
    border: none;
    border-bottom: 1px solid #777;
    &:-webkit-autofill {
      -webkit-text-fill-color: white !important;
      -webkit-box-shadow: 0 0 0px 1000px $AU-colorblack-background inset;
    }
  }
  input.au-text-input--dark:invalid {
    background-color: $AU-colorblack-background;
  }
}
label.au-control-input--black {
  margin-left: 1rem;
  width: 7rem;
  background-color: $AU-colorblack-background;
  input.au-control-input__input {
    color: white;
    background-color: $AU-colorblack-background;
    &:invalid {
      background-color: $AU-colorblack-background;
    }
  }
  span.au-control-input__text {
    color: white;
    background-color: $AU-colorblack-background;
  }
  input.au-control-input__input:invalid + span.au-control-input__text {
    background-color: $AU-colorblack-background;
  }
}
h1.au-heading--dark {
  b {
    color: white;
  }
}
hr.simple-white {
  color: white;
  margin: 0;
}
h2.underline-light {
  padding-bottom: 2rem;
  border-bottom: 9px solid $NSW-colordark-foreground-muted;
  display: inline-block;
}
h2.underline-dark {
  padding-bottom: 1.8rem;
  border-bottom: 9px solid $AU-color-foreground-action;
  display: inline-block;
}
span.field-error {
  padding-top: 1rem;
  border-bottom: 4px solid white;
  float: left;
  @include AU-media( sm ) {
    &:not(.float-left) {
      float: right;
    }
  }
  &.short,&.error {
    color: $AU-color-error;
    border-color: $AU-color-error;
  }
  &.weak,&.warning {
    color: $AU-color-warning;
    border-color: $AU-color-warning;
  }
  &.strong,&.green {
    color: $AU-color-success;
    border-color: $AU-color-success;
  }
  &.blank,&.gray {
    color: gray;
    border-color: gray;
  }
}
div.success-message {
  padding: 2rem;
  text-align: center;
  background-color: #0a7cb9;
  color: white;
  margin-top: 4rem;
  a {
    color: white;
  }
}
div.failure-message {
  padding: 2rem;
  text-align: center;
  background-color: $AU-color-error;
  color: white;
  margin-top: 4rem;
  a {
    color: white;
  }
}
p.thin-lines {
  line-height: 0.5;
}
.text-input-label {
  margin-top: 0.6rem;
}
hr.light {
  border-top: 1px solid #E0E0E0;
}
div.sticky-nav {
  margin-left: 10px;
  @include AU-media( sm ) {
    position: absolute;
    height: calc(100% - 500px);
    width: 33.33%;
  }
}
div.max60 {
  max-width: 60rem;
}
div.pretend {
  background-color: lightyellow;
}
img.newsletter {
  margin: -20px -20px 10px -20px;
  width: calc(100% + 40px);
}
ul.less-left-padding {
  padding-left: 1rem;
}
p.checkbox-description {
  padding: 0.0rem 0.7rem 2rem;
  @include AU-media( sm ) {
    padding: 0rem 2rem 1.5rem 2.7rem;
    margin-top: 0.5rem;
  }
}
p.five-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
div.progress-menu {
  padding: 2rem 0;
  box-shadow: 6px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
div.cool-callout {
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
  border: solid 0.5px $NSW-colordark-foreground-border;
  background-color: $NSW-colordark-foreground-muted;
}

div.cool-infobox {
  border-radius: 10px;
  padding: 1.0rem;
  margin: 2rem 0;
  border: solid 0.5px $NSW-colordark-foreground-border;
  background-color: $NSW-colordark-background-muted;
  .svg-inline--fa {
    color: $NSW-colordark-icon-muted;
    margin: 12px 8px 10px 16px;
  }
  > span {
    padding: 1.0rem 0.5rem;
    float: left;
    width: calc(100% - 90px);
    text-align: center;
  }
}

ul.au-tags.files {
  padding-right: 1rem;
  li.files {
    width: 100%;
    a.file {
      text-decoration: none;
    }
    a.right {
      float: right;
      text-decoration: none;
    }
  }
}
p.gray {
  color: gray;
  font-size: 80%;
}
span.list-item {
  padding: 0.5rem;
}
div.margin-top {
  margin-top: 1.5rem;
}
span.fixed-width {
  width: 10rem;
}
div.shaded-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 2rem;
  span.fixed-width {
    width: 8rem;
  }
}
div.center {
  text-align: center;
}
.green {
  color: $AU-color-success;
}
.gray {
  color: #888;
}
header.au-header {
  a.au-btn {
    margin: 1.6rem 0.8rem 0;
  }
}
.on-the-edge {
  margin-bottom: -3.3rem;
}
.inline {
  display: inline-block;
}
.center {
  text-align: center;
}
.fit-to-page {
  iframe.EmberYoutube-player {
    max-width: 100%;
  }
  overflow: scroll;
}
.avatar {
  border-radius: 100rem;
  margin: 1rem;
  width: 80%;
}
.member-details {
  padding: 2rem;
  border-left: 1px solid #E0E0E0;
}
