.telco-product-stack {
  hr {
    margin: 1.0rem 0;
  }
  .right-link {
    float: right;
  }
}
.form-title {
  margin-top: 1rem;
}
.form-error {
  padding-left: 2.8rem;
  padding-top: 1.2rem;
  font-size: small;
  color: purple;
}
