//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// accordion wrapper
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-accordion {
	@include AU-fontgrid( sm );
	display: block;
	border: 1px solid $AU-color-foreground-border;
	font-family: $AU-font;
	color: $AU-color-foreground-text;
	padding: 0;

	// Add spacing if there is an element before it
	* + & {
		@include AU-space( margin-top, 1unit );
	}

	.au-accordion__title {
		background-color: $AU-color-background-shade;
	}

	&.au-accordion--dark {
		border-color: $AU-colordark-foreground-border;
		color: $AU-colordark-foreground-text;

		.au-accordion__title {
			background-color: $AU-colordark-background-shade;
		}
	}

	&.au-accordion--sapphire {
		background: transparent;
		border: none;
		@include AU-space( margin-bottom, 2unit);

		.au-accordion__body.au-accordion--open {
			border: 1px solid $BUY-color-sapphire-light;
			@include AU-space( margin-top, 1unit);
			> .au-accordion__body-wrapper {
				background-color: #fff;
				@include AU-space( padding, 2unit);
			
				> h5:first-of-type {
					margin-top: 0;
				}
			}
		}

		.au-accordion__title {
			color: $BUY-color-banner-background;
			@include AU-space( margin-bottom, 0.5unit);
			background: transparent;
			box-shadow: 0 2px 5px 0 $BUY-color-sapphire-light;
      padding: 1.5rem 3rem 1.5rem 2rem;

			&:not(.locked):after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">' +
'<path fill="' + $BUY-color-banner-background + '" d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm231-113.9L103.5 277.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L256 226.9l101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L273 142.1c-9.4-9.4-24.6-9.4-34 0z"/>' +
'</svg>');
				height: 26px;
				width: 26px;
			}

			.title {
				font-family: MontserratBold;
        font-size: 1.5rem;

				&:hover {
					color: $BUY-color-action-primary;
				}
			}
		}

		.au-accordion__subtitle {
			font-family: MontserratRegular;
			@include AU-space( padding-top, 1unit);
			@include AU-fontgrid( sm );
			margin-top: 0;
		}

		.plus-circle {
			.au-btn--tertiary {
				color: $BUY-color-action-primary;
				> .svg-inline--fa.fa-w-16 {
					@include AU-space( height, 1.5unit);
					@include AU-space( margin-right, 0.3unit);
					@include AU-space( width, 1.5unit);
					vertical-align: middle;
				}
			}
		}
	}
}

.au-accordion + .au-accordion {
	margin-top: 0;
	border-top: 0;
}

.au-body .au-accordion__title,
.au-accordion__title {
	@include AU-fontgrid( md, heading );
	@include AU-space( padding, 1unit 2.5unit 1unit 1unit );
	color: $AU-color-foreground-action;
	font-weight: normal;
	position: relative;
	margin: 0;
	cursor: pointer;

  &.locked {
    cursor: default;
  }

	&:hover {
		text-decoration: none;
		color: $AU-color-foreground-text;

		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'<path fill="#{ $AU-color-foreground-text }" d="M64 0l64 64-16 16-64-64"/>' +
				'<path fill="#{ $AU-color-foreground-text }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
		}
	}

	@include AU-focus();

	&:focus {
		z-index: 100;
	}

	// remove the default details arrow icon
	&::-webkit-details-marker {
		display: none;
	}

	&:not(.locked):after {
		content: ' ';
		position: absolute;
		top: 50%;
		@include AU-space( margin-top, -0.5unit ); // Pull it up half of it's height
		@include AU-space( right, 1unit );
		@include AU-space( width, 1unit );
		@include AU-space( height, 1unit );
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'<path fill="#{ $AU-color-foreground-action }" d="M64 0l64 64-16 16-64-64"/>' +
				'<path fill="#{ $AU-color-foreground-action }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
		background-repeat: no-repeat;
		background-position: center;
		z-index: 101;
		transition: transform 0.25s ease-in;
	}

	&.au-accordion--closed:after {
		transform: rotate(-180deg);
	}

	.ie8 &,
	.lt-ie8 & {
		&:after {
			content: ' ▼ ';
		}

		&.au-accordion--open:after {
			content: ' ▲ ';
		}
	}
}

// Dark title styles
.au-body.au-body--dark .au-accordion__title,
.au-accordion.au-accordion--dark .au-accordion__title {
	color: $AU-colordark-foreground-action;


	&:hover {
		color: $AU-colordark-foreground-text;

		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'	<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l64 64-16 16-64-64"/>' +
				'	<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l16 16-64 64L0 64"/>' +
				'</svg>');
		}
	}

	@include AU-focus( 'dark' );

	&:after {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
			'	<path fill="#{ $AU-colordark-foreground-action }" d="M64 0l64 64-16 16-64-64"/>' +
			'	<path fill="#{ $AU-colordark-foreground-action }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
	}
}

.au-accordion__body {
	@include AU-fontgrid( sm );
	overflow: hidden;

	& {
		&.au-accordion--open {
			display: block;
			height: auto;
		}

		&.au-accordion--closed {
			display: none;
			height: 0;
		}
	}
}

.au-accordion__body-wrapper {
	@include AU-space( padding, 1unit );
	border-top: 1px solid $AU-color-foreground-border;

	.au-accordion--dark & {
		border-top: 1px solid $AU-colordark-foreground-border;
	}

  &.au-accordion--sapphire {
    border-top: none;
    background-color: $BUY-color-ui-background;
  }
}

.au-accordion-group {
	list-style: none;
	padding: 0;
}
