img.avatar, svg.avatar {
  border-radius: 50%;
  margin: 1rem 0;
  width: 80%;
  max-width: 9rem;
}
svg.avatar {
  color: lightgray;
  margin: 1rem;
}
.cropped-avatar {
  canvas {
    border-radius: 50%;
    max-width: 100%;
  }
}
//-----------------------------------------
.au-avatar {
  max-width: 16rem;
  .cropper-container {
    margin: 1rem 0;
  }
  .cropped-avatar {
    margin: 1rem 0;
    max-width: 9rem;
  }
  * + .au-display-xs {
    @include AU-space( margin-top, .5unit);
  }
  .avatar__remove {
    @include AU-space( margin-top, 1unit);
  }
}
