//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Banners are to be used under the header and is a title of the page
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/**
 * Basic banner block styling.
 */
.au-banner {
	font-family: MontserratBold;
	color: white;
  a {
    color: white;
    text-decoration: none;
  }
	background-color: $BUY-color-banner-background;
  margin-bottom: 3rem;

	@include AU-media( sm ) {
		@include AU-fontgrid( md );
	}

  .banner-button {
    display: block;
    font-family: MontserratBold;
    box-shadow: 5px 5px 5px gray;
    border-radius: .4rem;
    @include AU-space( padding, .5unit 4unit);
    text-align: center;
    &.tally {
      background: #fff;
      border: 3px solid #d7d7d7;
      @include AU-fontgrid( sm );
      padding: 0;
      > span {
        box-sizing: border-box;
        float: left;
        @include AU-space( padding, .5unit 4unit );
        width: 50%;
        &:first-of-type {
          border-right: 3px solid #d7d7d7;
        }
      }
      @include AU-clearfix();
    }
  }

  .au-breadcrumbs {
    @include AU-space( margin-bottom, 1.5unit);
  }

  /**
   * Banner heading styles
   */
  .au-banner__title {
    @include AU-fontgrid( lg );
    margin: 0;
    @include AU-space( padding, 0 0 .4unit 0);
    border-bottom: 9px solid $BUY-color-callout-border;
    font-family: MontserratBold;
    font-weight: normal;

    @include AU-media( sm ) {
      @include AU-fontgrid( xxl );
    }
    display: inline-block;
    
    &.dashboard {
      @include AU-space( margin, 4unit 0 2.5unit 0 );
    }
  }

  .au-banner__heading {
    @include AU-space( margin, 1.5unit 0 0 0);
    @include AU-fontgrid( sm );
    font-family: MontserratBold;

    @include AU-media( sm ) {
      @include AU-fontgrid( lg );
    }
    display: inline-block;
  }

  .au-banner__subline {
    padding: 1rem 0 0.5rem;
    max-width: $AU-maxwidth;
    font-family: MontserratRegular;
    @include AU-fontgrid( xs );
    @include AU-media( sm ) {
      @include AU-fontgrid( sm );
    }
  }

	&.au-banner--light {
    color: $BUY-color-foreground-text;
    .au-banner__heading {
      color: $BUY-color-banner-background;
    }
		background-color: $BUY-color-banner-light-left;
    background-image: linear-gradient(to right, $BUY-color-banner-light-left, $BUY-color-banner-light-right);
    a {
      color: $BUY-color-foreground-text;
    }
  }

  .container-fluid {
    @include AU-space( padding-top, 2unit);
    @include AU-space( padding-bottom, 1unit);
    @include AU-media( sm ) {
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 360px;
    }
  }

  .editing {
    @include AU-media( sm ) {
      background-image: url("/ict/images/editing-header.png");
    }
  }

  .account {
    @include AU-media( sm ) {
      background-image: url("/ict/images/account-header.png");
    }
  }
}

/* sits under the banner buttons, but not within the banner; this prevents the banner's background colour from extending down past the banner buttons: */
.dashboard-notes {
  position: relative;
  @include AU-space( top, -1.5unit);
  text-align: center;
  @include AU-media( md ) {
    strong {
      display: block;
    }
  }
}

/* On screens that are 992px or less, shift the .editing background-image to prevent overlap with text */
@media screen and (max-width: $AU-media-md) {
  .au-banner {
    .container-fluid {
      @include AU-media( sm ) {
        background-position: 100% 0;
      }
    }
  }
}
