$BUY-color-foreground-text:      #333333;
$BUY-color-action-primary:       #352CA3;
$BUY-color-action-light:         #5f66c5;
$BUY-color-callout-border:       #63CDCF;
$BUY-color-ui-background:        #FBFCFD;
$BUY-color-action-alt:           #7226DF;
$BUY-color-callout-background:   #ECF9F9;
$BUY-color-callout-light-back:   #F7FDFD;
$BUY-color-ui-callout:           #E0E2F0;
$BUY-color-action-alt-shade:     #583EA9;
$BUY-color-meta-tag:             #008080;
$BUY-color-forground-muted:      #ECF4FB;
$BUY-color-hover-state:          #412D7F;
$BUY-color-warning-shade:        #E17566;
$BUY-color-warning-alt:          #D7263D;
$BUY-color-minimal-grey:         #F5F5F5;
$BUY-color-primary-grey:         #EBEBEB;
$BUY-color-border-grey:          #E0E0E0;
$BUY-color-banner-background:    #201750;
$BUY-color-banner-light-left:    #F1F7FB;
$BUY-color-banner-light-right:   #E0E2F0;


$BUY-color-action-turquoise:     #63CDCF;
$BUY-color-action-turquoise-alt: #6BD5D7;
$BUY-color-sapphire-light:       #E1E2F0;
$BUY-color-success-shade:        #278080;
$BUY-color-lock-shade:           #4b4b4b;
$BUY-color-useredit-shade:       #5167ac;
$BUY-color-label-shade:          #122664;
$BUY-color-border-grey-alt:      #d7d7d7;
$BUY-color-heading-blue:         #122664;
$BUY-color-minor-text:           #888888;
