@font-face {
  font-family: "MontserratRegular";
  src: url("/ict/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
       url("/ict/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("/ict/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
       url("/ict/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

b, strong {
  color: $BUY-color-foreground-text;
  font-weight: 400 !important;
  font-family: "MontserratBold";
  &.white {
    color: white;
  }
  &.dark-sapphire {
    color: $BUY-color-banner-background;
  }
  &.sapphire {
    color: $BUY-color-action-primary;
  }
}

//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;

// Reset the body
body {
	padding: 0;
	margin: 0;
  font-smoothing: antialiased;
  font-weight: 400 !important;
}


// Increase the spacing for au-body elements inside main
main > .au-body {
	@include AU-space( padding, 2unit 0 );

  min-height: 200px;

	@include AU-media( sm ) {
		@include AU-space( padding, 3unit 0 );
	}
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
	@include AU-space( max-width, 80unit );

	@include AU-media( sm ){
		@include AU-space( padding-left, 2unit );
		@include AU-space( padding-right, 2unit );
	}
  &.less-space {
    margin-top: -2rem;
  }
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
	@include AU-space( padding-right, 1unit );
}

// The call to actions on the home page
.btn-cta-group {
	@include AU-space( margin-top, 1unit );

	.au-btn {
		@include AU-space( margin-top, 1unit );
	}
}


// Home page highlighted spacing on mobile
.highlighted-section .col-sm-12 + .col-sm-12 {
	@include AU-space( margin-top, 4unit );

	@include AU-media( sm ) {
		margin-top: 0;
	}
}


// Mobile side nav spacing
.au-side-nav {
	@include AU-space( margin-bottom, 2unit );

	@include AU-media( sm ){
		margin-bottom: 0;
	}
}

.form-item + .form-item {
	@include AU-space( margin-top, 2.5unit );
}


.form-required {
	color: $AU-color-foreground-muted;
}


.label--block {
	display: block;
}

// Reset empty required values
.empty-required {

	// Text inputs and text areas
	&.au-text-input:invalid,
	&.au-text-input.au-text-input--dark:invalid {
		background: transparent;
		border-color: $AU-color-foreground-border;
	}

	// Radio buttons and control inputs
	&.au-control-input__input:invalid + .au-control-input__text {
		background:transparent;
	}

	&.au-control-input__input:invalid + .au-control-input__text:after{
		border-color: transparent;
	}
}

// ### DASHBOARD ###
// main content for dashboard pages
// doesn't use an existing component; unlikely to be used elsewhere

@include AU-media( sm ) {
	.improve-visibility {
		background: url("/ict/images/searching-header.png") no-repeat right top/360px;
		position: relative;
	}
}
@include AU-media( md ) {
	.improve-visibility {
		background-image: url("/ict/images/searching-header.png"), url("/ict/images/white-square-opacity-5.svg"), url("/ict/images/man-on-laptop.png");
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: 70% bottom, right top, right top;
		background-size: 360px, 240px, 240px;
		h4 {
			@include AU-space( padding-top, 2unit );
		}
	}
}
