
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// main-nav module globals
// Horizontal list of links to key areas on the website. Usually located in the header.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/*
	// simpler mark-up and styling for nav which is shared between old and new designs
*/

// return-to-screen mixin - additional screen-visible declarations (used more than once):
@mixin visible-list {
	@include screen-visible;
	border: 1px solid #fff;
	@include AU-space( border-radius, .25unit );
	min-width: 130px;
	@include AU-space( padding, .5unit 1unit );
	position: absolute;
	right: 0;
	top: 60px;
}

.main-nav {
	background-color: $AU-colordark-background;
	> ul {
		list-style-type: none;
		> li > a {
			color: #fff;
			text-decoration: none;
			&:hover {
				background-color: $AU-colordark-background-shade;
				text-decoration: underline;
			}
		}
	}

	&.DDS {
		> h4 {
			@include AU-sronly();
		}
		> ul {
			box-sizing: border-box;
			margin: 0 auto;
			@include AU-space( max-width, 80unit );
			@include AU-media( sm ) {
				@include AU-space( padding-left, 2unit );
				@include AU-space( padding-right, 2unit );
			}
			&:after {
				clear: both;
				content: " ";
				display: table;
			}
			> li {
				float: left;
				> a {
					display: inline-block;
					@include AU-space( padding, 1unit );
					position: relative;
				}
			}
		}
	}
	
	&.wayfinder {
		position: relative;
		z-index: 2;
		> ul {
			background: $AU-color-foreground-action;
			// remove from screen (ignored by screen readers):
			@include screen-hidden;
			text-align: right;
			&:hover {
				// return to screen (ignored by screen readers):
				@include visible-list;
			}
		}
		> h4:focus {
			outline: none;
			+ ul {
				// return to screen (ignored by screen readers):
				@include visible-list;
			}
		}
	}
}

// enable highlight bar beneath current nav item for wider viewports only
// in case nav has wrapped to a second line:
@media only screen and (min-width: $AU-media-sm) {
	.main-nav.DDS > ul > li {
		> a:after {
			background: transparent;
			content: "";
			left: 0;
			@include AU-space( bottom, -0.5unit );
			position: absolute;
			width: 100%;
			@include AU-space( height, 0.5unit ); 
		}
		&.active > a {
			&:after {
				background: $AU-color-foreground-action;
			}
			&:hover:after {
				background: $AU-colordark-background-shade;
			}
		}
	}
}

// reduce padding of menu items in narrow viewports
@media only screen and (max-width: $AU-media-xs) {
	.main-nav.DDS > ul {
		@include AU-space( padding-left, .25unit );
		> li {
			> a {
				@include AU-space( padding, .5unit );
			}
			&:last-of-type > a {
				padding-right: 0;
			}
		}
	}
}
