//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// progress-indicator module
// Indicator of progress through a multitude of pages mostly used for forms.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.au-body .au-progress-indicator,
.au-progress-indicator {
	@include AU-fontgrid( sm, heading );
	margin: 0;
	font-family: $AU-font;
	list-style: none;
	padding: 0;
	border-top: 1px solid $AU-colorlight-foreground-border;

	& > li {
		margin: 0;
	}

	&.au-progress-indicator--dark {
		border-color: $AU-colordark-foreground-border;
	}
}

* + .au-progress-indicator,
.au-body * + .au-progress-indicator {
	@include AU-space( margin-top, 1unit );
}

.au-body .au-progress-indicator__link,
.au-progress-indicator__link {
	@include AU-fontgrid( sm, heading ); // Needed for button elements that reset fontsize
	@include AU-space( padding, .75unit .75unit .75unit 2.75unit );
	position: relative;
	display: block;
	color: $AU-color-foreground-text;
	text-decoration: none;
	appearance: none;
	background: transparent;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	border: none;
	border-bottom: 1px solid $NSW-color-background-alt-shade;
	border-left: 3px solid transparent;
	transition: background-color 0.1s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $AU-color-background-shade;
	}

	@include AU-focus();

	&:after {
		@include AU-space( left, .5unit );
		@include AU-space( width, 1.5unit );
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-muted }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
			'</svg>');
		background-repeat: no-repeat;
		background-position: 0 center;
	}

	.ie8 &,
	.lt-ie8 & {
		&:after {
			top: 6px;
			content: '-';
		}
	}

  &.active {
		border-left-color: $AU-color-foreground-action;
    span {
      font-family: MontserratRegular;
    }
    font-family: MontserratBold;
  }

	&.au-progress-indicator__link--doing {
		&:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="6.5" cy="12" r="1.5"></circle>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="12" cy="12" r="1.5"></circle>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="17.5" cy="12" r="1.5"></circle>' +
			'</svg>');
		}

		.ie8 &,
		.lt-ie8 & {
			&:after {
				content: '...';
			}
		}
	}

	&.au-progress-indicator__link--done {
		&:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
				'<path fill="#{ $AU-color-foreground-action }" d="M18.744186,9.23753281 C18.744186,9.48293963 18.6627907,9.71391076 18.5,9.88713911 L11.3895349,17.7257218 C11.2267442,17.8989501 10.996124,18 10.7655039,18 C10.5484496,18 10.3178295,17.8989501 10.1550388,17.7257218 L5.24418605,12.5 C5.08139535,12.3267717 5,12.0958005 5,11.8503937 C5,11.6049869 5.08139535,11.3595801 5.24418605,11.1863517 L6.47868217,9.88713911 C6.64147287,9.71391076 6.85852713,9.61286089 7.08914729,9.61286089 C7.31976744,9.61286089 7.53682171,9.71391076 7.6996124,9.88713911 L10.7655039,13.1496063 L16.0445736,7.27427822 C16.2073643,7.10104987 16.4244186,7 16.6550388,7 C16.8856589,7 17.1027132,7.10104987 17.2655039,7.27427822 L18.5,8.57349081 C18.6627907,8.74671916 18.744186,8.99212598 18.744186,9.23753281 Z"/>' +
			'</svg>');
		}

		.ie8 &,
		.lt-ie8 & {
			&:after {
				content: '✓';
			}
		}
	}

	.au-body--dark .au-progress-indicator--dark &,
	.au-progress-indicator--dark & {
		color: $AU-colordark-foreground-text;
		border-bottom-color: $AU-colordark-foreground-border;

		@include AU-focus( 'dark' );

		&:hover {
			background-color: $AU-colordark-background-shade;
		}

		&:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-colordark-foreground-muted }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
			'</svg>');
		}

		&.au-progress-indicator__link--done:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-colordark-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
				'<path fill="#{ $AU-colordark-foreground-action }" d="M18.744186,9.23753281 C18.744186,9.48293963 18.6627907,9.71391076 18.5,9.88713911 L11.3895349,17.7257218 C11.2267442,17.8989501 10.996124,18 10.7655039,18 C10.5484496,18 10.3178295,17.8989501 10.1550388,17.7257218 L5.24418605,12.5 C5.08139535,12.3267717 5,12.0958005 5,11.8503937 C5,11.6049869 5.08139535,11.3595801 5.24418605,11.1863517 L6.47868217,9.88713911 C6.64147287,9.71391076 6.85852713,9.61286089 7.08914729,9.61286089 C7.31976744,9.61286089 7.53682171,9.71391076 7.6996124,9.88713911 L10.7655039,13.1496063 L16.0445736,7.27427822 C16.2073643,7.10104987 16.4244186,7 16.6550388,7 C16.8856589,7 17.1027132,7.10104987 17.2655039,7.27427822 L18.5,8.57349081 C18.6627907,8.74671916 18.744186,8.99212598 18.744186,9.23753281 Z"/>' +
			'</svg>');
		}

    &.active {
			border-left-color: $AU-colordark-foreground-action;
    }

		&.au-progress-indicator__link--doing {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
						'<path fill="#{ $AU-colordark-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
						'<circle fill="#{ $AU-colordark-foreground-action }" cx="6.5" cy="12" r="1.5"></circle>' +
						'<circle fill="#{ $AU-colordark-foreground-action }" cx="12" cy="12" r="1.5"></circle>' +
						'<circle fill="#{ $AU-colordark-foreground-action }" cx="17.5" cy="12" r="1.5"></circle>' +
					'</svg>');
			}
		}
	}
}

.au-progress-indicator__status {
	@include AU-fontgrid( xs, heading );
	display: block;
	font-weight: normal;
	color: $AU-color-foreground-muted;

	.au-progress-indicator--dark & {
		color: $AU-colordark-foreground-muted;
	}
}

a.au-progress-indicator__sub-item {
  &:before {
    content: " ";
    @include AU-space( width, 1unit );
    @include AU-space( height, 1unit );
    @include AU-space( background-size, 1unit );
    @include AU-space( margin-left, -1.5unit );
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">' +
      '<path fill="#{ $AU-color-foreground-border }" d="M2 10h12v1H2zM2 5h1v5H2z"/>' +
    '</svg>');
  }

	@include AU-fontgrid( sm, heading ); // Needed for button elements that reset fontsize
	@include AU-space( padding, .75unit .75unit .75unit 3.5unit );
  font-size: 85%;
  color: #626262;
	position: relative;
	display: block;
	text-decoration: none;
	appearance: none;
	background: transparent;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	border: none;
	transition: background-color 0.1s ease-in-out;
	cursor: pointer;

  &.active {
    color: $AU-color-foreground-text;
    &:before {
      background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">' +
        '<path fill="#{ $AU-color-foreground-border }" stroke="black" d="M2 10h12v1H2zM2 5h1v5H2z"/>' +
      '</svg>');
    }
  }

	&:hover {
		background-color: $AU-color-background-shade;
	}
}

.au-body .au-progress-status {
	@include AU-fontgrid( sm, heading ); // Needed for button elements that reset fontsize
	@include AU-space( padding, .75unit .75unit .75unit 2.75unit );
	position: relative;
	display: block;
	color: $AU-color-foreground-text;
	text-decoration: none;
	appearance: none;
	background: transparent;
	width: 100%;
	text-align: left;
	border: none;
	transition: background-color 0.1s ease-in-out;

	@include AU-focus();

	&:after {
		@include AU-space( left, .5unit );
		@include AU-space( width, 1.5unit );
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-muted }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
			'</svg>');
		background-repeat: no-repeat;
		background-position: 0 center;
	}

	.ie8 &,
	.lt-ie8 & {
		&:after {
			top: 6px;
			content: '-';
		}
	}

	&.au-progress-status--doing {
		&:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="6.5" cy="12" r="1.5"></circle>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="12" cy="12" r="1.5"></circle>' +
				'<circle fill="#{ $AU-color-foreground-action }" cx="17.5" cy="12" r="1.5"></circle>' +
			'</svg>');
		}

		.ie8 &,
		.lt-ie8 & {
			&:after {
				content: '...';
			}
		}
	}

	&.au-progress-status--done {
		&:after {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path fill="#{ $AU-color-foreground-action }" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/>' +
				'<path fill="#{ $AU-color-foreground-action }" d="M18.744186,9.23753281 C18.744186,9.48293963 18.6627907,9.71391076 18.5,9.88713911 L11.3895349,17.7257218 C11.2267442,17.8989501 10.996124,18 10.7655039,18 C10.5484496,18 10.3178295,17.8989501 10.1550388,17.7257218 L5.24418605,12.5 C5.08139535,12.3267717 5,12.0958005 5,11.8503937 C5,11.6049869 5.08139535,11.3595801 5.24418605,11.1863517 L6.47868217,9.88713911 C6.64147287,9.71391076 6.85852713,9.61286089 7.08914729,9.61286089 C7.31976744,9.61286089 7.53682171,9.71391076 7.6996124,9.88713911 L10.7655039,13.1496063 L16.0445736,7.27427822 C16.2073643,7.10104987 16.4244186,7 16.6550388,7 C16.8856589,7 17.1027132,7.10104987 17.2655039,7.27427822 L18.5,8.57349081 C18.6627907,8.74671916 18.744186,8.99212598 18.744186,9.23753281 Z"/>' +
			'</svg>');
		}

		.ie8 &,
		.lt-ie8 & {
			&:after {
				content: '✓';
			}
		}
	}
	
}


// progress (indicator) menu - sapphire variant

.progress-menu.sapphire {
	@include AU-space( padding-right, 1.5unit );
	h4 {
		@include AU-fontgrid( sm );
		@include AU-space( padding-left, .75unit );
	}
	.au-progress-indicator {
		border-top-color: $NSW-color-background-alt-shade;
		@include AU-space( margin-top, .5unit );
	}
	.au-progress-indicator__link {
		border-left: none;
		@include AU-space( padding, .75unit 2.5unit .75unit .75unit );
		&:after {
			left: auto;
			@include AU-space( right, .5unit );
			background-image: none;
		}
		&.au-progress-indicator__link--doing {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="6.5" cy="12" r="1.5"></circle>' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="12" cy="12" r="1.5"></circle>' +
					'<circle fill="#{ $AU-color-foreground-action }" cx="17.5" cy="12" r="1.5"></circle>' +
				'</svg>');
			}
		}
		&.au-progress-indicator__link--done {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-success-shade }" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--review {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-warning-shade }" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--user-edit {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-useredit-shade }" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h274.9c-2.4-6.8-3.4-14-2.6-21.3l6.8-60.9 1.2-11.1 7.9-7.9 77.3-77.3c-24.5-27.7-60-45.5-99.9-45.5zm45.3 145.3l-6.8 61c-1.1 10.2 7.5 18.8 17.6 17.6l60.9-6.8 137.9-137.9-71.7-71.7-137.9 137.8zM633 268.9L595.1 231c-9.3-9.3-24.5-9.3-33.8 0l-37.8 37.8-4.1 4.1 71.8 71.7 41.8-41.8c9.3-9.4 9.3-24.5 0-33.9z"/>' +
				'</svg>');
				width: 1.4rem;
			}
		}
		&.au-progress-indicator__link--lock {
			&:after {
				background-image: AU-svguri('<svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">' +
					'<path fill="#{ $BUY-color-lock-shade }" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"/>' +
				'</svg>');
				width: 1.1rem;
			}
		}
		&.active {
			background-color: grey;
			font-family: MontserratRegular;
		}
	}
	.au-progress-indicator__status {
		display: none;
	}
}
