hr.less-margin {
  margin: 1.0rem 0 1.0rem 0;
}

hr.no-margin, div.no-margin, nav.no-margin {
  margin: 0;
}

.pointer {
  cursor: pointer;
  text-decoration: none;
}

div.feedback {
  padding-bottom: 1.5rem;
}

div.pull-left, span.pull-left {
  margin: 0 0.5rem;
  float: left;
}

a.pull-right, span.pull-right, div.pull-right {
  margin-right: 1rem;
  float: right;
  &.no-margin-right {
    margin-right: 0;
  }
}

div.float-right, span.float-right, a.float-right, b.float-right, p.float-right {
  padding-right: 1rem;
  float: none;
  @include AU-media( sm ) {
    float: right;
  }
}

div.align-right, span.align-right, a.align-right, b.align-right, p.align-right {
  text-align: left;
  @include AU-media( sm ) {
    text-align: right;
  }
}

span.float-left, a.float-left, b.float-left {
  float: left;
}

.green {
  color: $AU-color-success;
}

.gray, label + .tip {
  color: $BUY-color-minor-text;
}

.small {
  font-size: 80%;
}

.bold {
  font-family: MontserratBold;
}

p.gray {
  color: gray;
  font-size: 80%;
}

div.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

hr.light {
  border-top: 1px solid #E0E0E0;
}

hr.super-light {
  border-top: 1px solid #F0F0F0;
}

.text-input-label {
  margin-top: 0.6rem;
}

p.thin-lines {
  line-height: 0.5;
}

a.au-btn.no-padding, div.no-padding {
  padding: 0;
}

div.little-padding {
  padding: 0.3rem;
}

.display-none {
  display: none;
}

div.header-alert {
  background-color: lightyellow;
  font-family: MontserratRegular;
  font-size: 0.8rem;
  text-align: center;
  line-height: 150%;
  padding: 2px 5px;
}

.display-block {
  display: block;
}

.clear-both {
  clear: both;
}
