//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// simple-box module
// Use simple-box to box any important information.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/**
 * The generic simple-box.
 */
.au-simple-box {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 3unit );
	font-family: $AU-font;
	word-wrap: break-word;
  border-radius: $AU-border-radius;
  box-shadow: 0px 0px 10px lightgrey;

	* + & {
		@include AU-space( margin-top, 2unit );
	}

	p {
		margin: 0;
	}

	* + p {
		@include AU-space( margin-top, 1unit );
	}

	// Visual treatment for paragraphs following simple-box
	& + p {
		@include AU-space( margin-top, 2unit );
	}

	&.au-simple-box--sapphire {
		color: white;
    background-color: $BUY-color-action-light;
    // background-image: linear-gradient(to right, $BUY-color-action-light, $BUY-color-action-primary);
    @include AU-space( padding, 2unit );
    b, strong {
      color: white;
    }
	}

	&.au-simple-box--turquoise {
    color: $BUY-color-foreground-text;
    border-top: 2rem solid $BUY-color-callout-border;
    background-image: linear-gradient(to right, $BUY-color-callout-light-back, $BUY-color-callout-background);
    a.icon {
      text-decoration: none;
      margin: 0.5rem;
    }
    .svg-inline--fa {
      color: $BUY-color-callout-border;
      &:hover {
        color: $BUY-color-meta-tag;
      }
    }
  }
  
  &.au-simple-box--lilac {
    background-color: $BUY-color-ui-callout;
  }

  &.au-simple-box--iceblue {
    background-color: $BUY-color-forground-muted;
  }

  &.au-simple-box--whitesmoke {
    background-color: $BUY-color-minimal-grey;
  }

  &.au-simple-box--lightpeach {
    background-color: #fdf2e3;
  }
}

/**
* Supplier Dashboard page
* 'Welcome' section; 3 boxes side by side, each with a full-width photo
*/
.welcome {
  @include AU-space( margin, 2unit 0 );
  .au-simple-box {
    @include AU-space( margin-bottom, 1unit );
    @include AU-media( md ) {
      @include AU-space( margin-bottom, 0 );
      // at 992px, when the 3 boxes sit side-by-side, ensure equal height:
      min-height: 560px;
    }
    .img-wrap {
      @include AU-space( margin, -3unit -3unit 1unit -3unit );
    }
    ul {
      @include AU-space( padding-left, 1unit );
      @include AU-space( margin-bottom, 1unit );
    }
    .au-btn {
      @include AU-space( margin-left, 1unit );
    }
  }
}

/*
* Supplier Dashboard page
* 'Make changes' section; 3 boxes side by side, each with a large Font Awesome icon
*/
.make-changes {
  // at 992px, when the 3 boxes sit side-by-side, show a background image:
  @include AU-media( md ) {
    background: url("/ict/images/user-header.png") no-repeat 90% 0/200px;
  }
  > h4 {
    @include AU-space( padding, 4.5unit 0 1.5unit 0 );
  }
  .au-simple-box {
    color: $BUY-color-action-primary;
    @include AU-space( font-size, 1.25unit );
    @include AU-space( margin-bottom, 1unit );
    @include AU-media( md ) {
      @include AU-space( margin-bottom, 0 );
      // at 992px, when the 3 boxes sit side-by-side, ensure equal height:
      min-height: 200px;
    }
    a, b {
      color: $BUY-color-action-primary;
    }
    svg {
      @include AU-space( font-size, 6unit );
      // note - <br> tag creates too much space, so set here instead:
      @include AU-space( margin-bottom, 1unit );
      &.fa-cogs {
        color: #5a6fbf;
      }
      &.fa-user-circle {
        color: #f1c2af;
      }
      &.fa-edit {
        color: #9396d3;
      }
    }
  }
}

/**
* a simple info/notification style
* an info-circle icon - an "i" in a dark peach circle, sits in front of a single text string
* the check-circle variant uses a tick in a green circle; NB - does not indicate success, rather - unrestricted access
* these are quite different to .au-page-alerts and .au-simple-box - no heading, border, padding or background colour
* these alert styles were initially used in the "sapphire" redesign of profile builder
*/
.info-box {
  svg {
    color: $BUY-color-warning-shade;
    @include AU-space( font-size, 1.6unit );
    @include AU-space( margin-right, 0.5unit);
    vertical-align: middle;
    &.fa-check-circle {
      color: $BUY-color-meta-tag;
    }
  }
  &.warning {
    color: $BUY-color-warning-shade;
		a, b {
			color: $BUY-color-warning-shade;
		}
  }
}


div.cool-infobox {
  border-radius: 10px;
  padding: 1.0rem;
  margin: 2rem 0;
  border: solid 0.5px $NSW-colordark-foreground-border;
  background-color: $NSW-colordark-background-muted;
  .svg-inline--fa {
    color: $NSW-colordark-icon-muted;
    margin: 12px 8px 10px 16px;
  }
  &.turquoise {
    margin: 1rem 0 2rem 0;
    border: none;
    background-color: $BUY-color-callout-background;
    box-shadow: 5px 5px 10px lightgrey;
  }
  &.sapphire {
    margin: 1rem 0 2rem 0;
    border: none;
    background-color: $BUY-color-sapphire-light;
    box-shadow: 5px 5px 10px lightgrey;
    .svg-inline--fa {
      color: $BUY-color-action-alt-shade;
    }
    padding: 1.6rem 2rem;
  }
  > span {
    padding: 1.0rem 0.5rem;
    float: left;
    width: calc(100% - 90px);
    text-align: center;
  }
}
