<div class="cool-infobox sapphire">{{fa-icon "eye" prefix="fas" size="2x"}} 
  This information will appear on your supplier profile and is publicly visible to all users
</div>
<h4>Business name</h4>
<p>Your business name must match your ABN listed business name.</p>
<dl class="details alt">
  <dt>Business name</dt>
  <dd>{{form.name}}</dd>
  <dt>ABN</dt>
  <dd>{{form.abn}}</dd>
  <dt>Date established</dt>
  <dd>{{au-date form.establishment_date}}</dd>
</dl>