<div class="cool-infobox sapphire">
  {{fa-icon "info-circle" size="2x" prefix="fas"}}
  Please note that all fields are mandatory unless otherwise indicated.
</div>
<h4>Business name</h4>
<p>Your business name must match your ABN listed business name.</p>
{{dds/text-input
  isSimple=true
  label-text="Business name"
  inputClass="maxw-300"
  field=(mut form.name)
  showError=true
  invalid=(v-get form 'name' 'isInvalid')
  errorMessage=(v-get form 'name' 'message')
  apiError=form.apiErrors.name
}}
<hr />
{{dds/text-input
  isSimple=true
  label-text="ABN"
  inputClass="maxw-300"
  field=(mut form.abn)
  showError=true
  invalid=(v-get form 'abn' 'isInvalid')
  errorMessage=(v-get form 'abn' 'message')
  apiError=form.apiErrors.abn
}}
<hr />
{{dds/date-input
  required=true
  isSimple=true
  label-text="Date established"
  inputClass="maxw-200"
  field=(mut form.establishment_date)
  showError=true
  invalid=(v-get form 'establishment_date' 'isInvalid')
  errorMessage=(v-get form 'establishment_date' 'message')
  apiError=form.apiErrors.establishment_date
}}
