<header>
  <h3><b>Contact details</b></h3>
  <button class="au-btn au-btn--sapphire">Edit</button>
</header>
<span class="status status--accepted">Accepted</span>
<div class="status__reporter">by buy.nsw operations</div>
<hr />
<div class="cool-infobox sapphire">{{fa-icon "eye" prefix="fas" size="2x"}} This information will appear on your supplier profile, but only to registered buyers.</div>
<h4>Business contact name</h4>
<p>This contact will display on your supplier profile and can only be seen by logged in buyers. It is the person you nominate to receive  communications from buyers and buy.nsw.</p>
<dl class="details">
  <dt>Name</dt>
  <dd>Athelred of Mercia</dd>
  <dt>Email address</dt>
  <dd>athelred@mercia.gov.uk</dd>
  <dt>Contact number</dt>
  <dd>(02) 1234 50000</dd>
</dl>
<hr />
<h4>Authorised representative</h4>
<p>This contact will display on your supplier profile and can only be seen by logged in buyers. It is the person you nominate to receive  communications from buyers and buy.nsw.</p>
<dl class="details">
  <dt>Name</dt>
  <dd>Athelred of Mercia</dd>
  <dt>Email address</dt>
  <dd>athelred@mercia.gov.uk</dd>
  <dt>Contact number</dt>
  <dd>(02) 1234 50000</dd>
</dl>