<div class="cool-infobox sapphire">{{fa-icon "eye" prefix="fas" size="2x"}} 
  <div>This information will appear on your supplier profile, but only to <b>registered buyers</b>.</div>
</div>
<h4>You have provided the following information</h4>
<p>Is your organisation in receivership, administration or unable to meet its debts as they fall due?</p>