<h3>Account login details</h3>
{{#if underEdit}}
  {{seller-account/login-details-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/login-details-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="pull-right"
  form=form
  afterSave=afterSave
  secondary=true
}}
