<p>
  <b class="sapphire">Email address</b>
</p>
<p>
  {{form.email}}
</p>
{{#unless form.confirmed}}
  <p class="gray">This email address is not confirmed yet</p>
{{/unless}}
<br>
<p>
  <b class="sapphire">Password</b>
</p>
<p>**********</p>
