<p>
  <br>
  <label class="au-control-input">
    <input
      class="au-control-input__input"
      type="radio"
      checked={{if (eq field value) "checked" "" }}
      onclick={{action (mut field) value}}
      onchange={{onchange}}
    >
    <span class="au-control-input__text">
      {{label}}
    </span>
  </label>
</p>
