<footer
  class="au-footer au-footer--black au-body au-body--dark au-body--black"
  role="contentinfo"
>
  <form id="subForm" role="form" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="30FEA77E7D0A9B8D7616376B900632311B788B06EB882E2C87C28E7A7EEB482F02B927D8C05A6D3742AAD59F438A47EBC2C4EA8D2069226522293EC759B139AD">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <label for="fieldEmail" class="au-display-sm">Your Email</label>
          <p>
            <input id="fieldEmail" class="js-cm-email-input au-text-input au-text-input--block au-text-input--dark" name="cm-fiktjy-fiktjy" type="email">
          </p>
          <br/>
          <br/>
        </div>

        <div class="col-sm-4">
          <label class="au-display-sm" for="fieldName">Your Name</label>
          <p>
            <input id="fieldName" name="cm-name" class="au-text-input au-text-input--block au-text-input--dark" type="text">
          </p>
          <br/>
          <br/>
        </div>

        <div class="col-sm-4">
          <label for="fieldyudkft" class="au-display-sm">Your Organisation</label>
          <p>
            <input id="fieldyudkft" name="cm-f-yudkft" class="au-text-input au-text-input--block au-text-input--dark" type="text">
          </p>
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_buyer" value="1089780" checked="checked" style="display: none">
          <label class="au-control-input au-control-input--dark au-control-input--black au-control-input--black">
            <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_buyer" class="au-control-input__input" value="1080766">
            <span class="au-control-input__text">I'm a buyer</span>
            <br>
          </label>
        </div>
        <div class="col-sm-4">
          <label class="au-control-input au-control-input--dark au-control-input--black au-control-input--black">
            <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_seller" class="au-control-input__input" value="1080767">
            <span class="au-control-input__text">I'm a seller</span>
            <br>
          </label>
        </div>
        <div class="col-sm-4">
          <button class="au-btn au-btn--secondary au-btn--dark js-cm-submit-button action" type="submit">
            Subscribe for updates
          </button>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</footer>
