<h2 class="au-display-xl underline-light">
  <b>Company details</b>
</h2>
<br>
<h2 class="au-display-lg">
  <b>Business name and ABN</b>
</h2>
<p>
  You need an Australian Business Number (ABN) to do business in Australia.
  <a target="_blank" href="https://abr.business.gov.au/">Look up your ABN</a>.
</p>
<div class="cool-infobox">
  {{fa-icon "exclamation-circle" size="2x" prefix="fal" pull="left"}}
  <span>
    This information will appear on your supplier profile, but only to logged in buyers.
  </span>
  <div class="clear-both"></div>
</div>
<p>
  <b>Business name</b>
</p>
<p>
  Your business name must match your ABN listed business name.
</p>
<p>
  {{dds/text-input
    wide=true
    noLabel=true
    field=(mut form.name)
    showError=(or showError (not-eq form.status 'todo'))
    invalid=(v-get form 'name' 'isInvalid')
    errorMessage=(v-get form 'name' 'message')
  }}
</p>
<p>
  <b>ABN</b>
</p>
<p>
  {{dds/text-input
    wide=true
    noLabel=true
    field=(mut form.abn)
    showError=(or showError (not-eq form.status 'todo'))
    invalid=(v-get form 'abn' 'isInvalid')
    errorMessage=(v-get form 'abn' 'message')
  }}
</p>
<hr class="light">
