<p>
By applying to be a supplier on buy.nsw you are also applying to join the ICT Services Scheme.
</p>
<p>
The scheme’s rules include your using its contracting framework.
</p>
<p>
Core&amp; Agreement (for low risk work)
Procure IT 3.2
</p>
<p>
  <label class="au-control-input">
    {{input
      class="au-control-input__input"
      type="checkbox"
      checked=(mut checked)
    }}
    <span class="au-control-input__text">
      I agree that I am joining the ICT Services Scheme and will abide by its rules.
    </span>
  </label>
</p>
