<h2 class="au-display-xl underline-light">
  <b>Eligibility</b>
</h2>
<br>
<br>
{{dds/inpage-nav
  sections=(array
    (hash name="Do you provide cloud products, services or support?" anchor="ict-products")
    (hash name="Do you provide products, services or support in one or more of the following ICT categories?" anchor="other-products")
  )
}}
<hr class="light">
<p>
  For now, buy.nsw is only open to suppliers who either:
	<ul>
    <li>provide cloud products, services or support</li>
	  <li>provide services in NSW Government Data Centres (GovDC)</li>
  </ul>
</p>
<h2 class="au-display-lg" id="ict-products">
  <b>Do you provide cloud products, services or support?</b>
</h2>
<p>
  These include:
  <ul>
    <li>cloud software</li>
    <li>hosting and infrastructure</li>
    <li>support services for transitioning to cloud and for monitoring and managing cloud environments.</li>
  </ul>
</p>
<p>
  {{dds/radio-group
    items=(array
      (hash
        key="true"
        label="Yes"
      )
      (hash
        key="false"
        label="No"
      )
    )
    field=(mut form.offers_ict)
    adminFeedback=form.feedbacks.offers_ict
    showError=(or showError (not-eq form.status 'todo'))
    invalid=(v-get form 'offers_ict' 'isInvalid')
    errorMessage=(v-get form 'offers_ict' 'message')
  }}
</p>
<p>
  As a supplier of cloud products and services, you'll be able to add information about your products to your
  supplier profile from your buy.nsw dashboard. Once your application is approved,
  we'll be in touch with next steps.
</p>

<hr class="light">

<h2 class="au-display-lg">
  <b>Do you offer services in NSW Government Data Centres (GovDC)?</b>
</h2>
<p>
  This means you provide colocation services inside GovDC or you have a subscription to the GovDC Managed Services Backbone.
</p>
<p>
  Not sure if you are a GovDC supplier? Contact the GovDC team at govdc@finance.nsw.gov.au.
</p>
<p>
  {{dds/radio-group
    items=(array
      (hash
        key="true"
        label="Yes"
      )
      (hash
        key="false"
        label="No"
      )
    )
    field=(mut form.govdc)
    showError=(or showError (not-eq form.status 'todo'))
    invalid=(v-get form 'govdc' 'isInvalid')
    adminFeedback=form.feedbacks.govdc
    errorMessage=(v-get form 'govdc' 'message')
  }}
</p>
{{#if (v-get form 'eligible' 'isInvalid')}}
  <p>
    <span class="field-error error float-left">
      {{v-get form 'eligible' 'message'}}
    </span>
    <div class="clear-both"></div>
  </p>
{{/if}}

<hr class="light">
