{{dds/inpage-nav
  sections=(array
    (hash name="Do you provide cloud products, services or support?" anchor="cloud-products")
    (hash name="Do you provide products, services or support in one or more of the following ICT categories?" anchor="other-products")
  )
}}
<hr class="light">
<p>
  For now, buy.nsw is only open to suppliers who either:
	<ul>
    <li>provide cloud products, services or support</li>
	  <li>provide services in NSW Government Data Centres (GovDC)</li>
  </ul>
</p>
<h2 class="au-display-lg" id="cloud-products">
  <b>Do you provide cloud products, services or support?</b>
</h2>
<p>
  These include:
  <ul>
    <li>cloud software</li>
    <li>hosting and infrastructure</li>
    <li>support services for transitioning to cloud and for monitoring and managing cloud environments.</li>
  </ul>
</p>
<p>
  As a supplier of cloud, you'll be able to add information about your products to your
  supplier profile from your buy.nsw dashboard. Once your application is approved,
  we'll be in touch with next steps.
</p>

<hr class="light">

<h2 class="au-display-lg">
  <b>Do you offer services in NSW Government Data Centres (GovDC)?</b>
</h2>
<p>
  This means you provide colocation services inside GovDC or you have a subscription to the GovDC Managed Services Backbone.
</p>
<p>
  Not sure if you are a GovDC supplier? Contact the GovDC team at govdc@finance.nsw.gov.au.
</p>

<hr class="light">

<h2 class="au-display-lg" id="other-products">
  <b>Do you provide products, services or support in one or more of the following ICT categories?</b>
</h2>

<div class="cool-callout">
  As an eligible supplier, you can also select other ICT products or services.
  They will appear on your profile and make it easier for buyers to find you.
</div>
