<nav
  class="au-breadcrumbs"
  aria-label="breadcrumb"
>
  <ul class="au-link-list au-link-list--inline">
    {{#each links as |link|}}
      <li>
        {{link-to link.name link.route}}
      </li>
    {{/each}}
  </ul>
</nav>
