<h4 class="v-sh">breadcrumb menu</h4>
<ul class={{unless isWayfinder "au-link-list au-link-list--inline"}}>
  {{#each links as |link|}}
    <li>
      {{#if link.param}}
        {{link-to link.name link.route link.param}}
      {{else}}
        {{link-to link.name link.route}}
      {{/if}}
    </li>
  {{/each}}
</ul>
