{{# if browser.isIE }}
  <div class="header-alert">
    {{fa-icon "exclamation-triangle" prefix="fal"}}
    Internet Explorer users may experience some issues. We recommend the use of Google Chrome, Microsoft Edge, Firefox or Safari.
  </div>
{{/ if }}
