<div>
  {{input
    class="au-text-input"
    value=field
    type="date"
    disabled=disabled
    pattern="\d{4}-\d{1,2}-\d{1,2}"
    focus-out=focusOut
    enter=enter
    placeholder="YYYY-MM-DD"
    title=""
    min=min
    max=max
    required=required
  }}
</div>
{{#unless present}}
  <span class="field-error error float-left">Please enter a valid expiry date</span>
{{else unless valid}}
  <span class="field-error error float-left">Enter a valid date in YYYY-MM-DD format</span>
{{else unless inRange}}
  <span class="field-error error float-left">Enter a valid date not earlier than today</span>
{{/unless}}
<div class="clear-both"></div>
