<div>
  {{input
    class=(concat "au-text-input"
           (if thin " au-text-input--thin")
           (if theme (concat " au-text-input--" theme)))
    value=field
    type=(if (or (or (or
          (user-agent "device.isMobile")
          (user-agent "device.isTablet")
          (user-agent "browser.isChrome")
          (user-agent "browser.isFirefox")
         ))) "date" "text")
    disabled=disabled
    pattern="\d{4}-\d{1,2}-\d{1,2}"
    focus-out=(action "focusOut")
    enter=enter
    placeholder="YYYY-MM-DD"
    title=""
    required=(and (or showError hasChanged) invalid)
    min=min
    max=max
  }}
</div>
{{#if (and (or showError hasChanged) invalid)}}
  {{dds/validation-error type="error" thin=thin message=errorMessage float="left"}}
{{else if (and apiError (or showError hasChanged))}}
  {{dds/validation-error type="warning" thin=thin message=apiError float="left"}}
{{/if}}
<div class="clear-both"></div>
