<p>
  <ul class="au-tags files">
  {{#each documents as |document index|}}
    <li class="files">
      <a class="file">
        {{document.original_filename}}
      </a>
      <a class="pointer right" onclick={{action "removeDocument" index}}>
        x
      </a>
    </li>
  {{/each}}
  </ul>
  <br>
  {{#file-upload name="photos"
                 accept=(array 'image/jpeg' 'image/png' 'application/pdf')
                 multiple=true
                 onfileadd=(action "uploadDocument") as |queue|}}
    <a class="au-btn au-btn--secondary float-right">
      {{#if documents.length}}
        Add another file
      {{else}}
        Choose file
      {{/if}}
    </a>
    {{#unless documents.length}}
      No file chosen
    {{/unless}}
  {{/file-upload}}
</p>
<div class="clear-both"></div>
