{{#each documents as |doc|}}
  <p>
    <a target="_blank" class="au-cta-link small" href={{doc.url}}>
      {{if showOriginalFilename doc.original_filename "Download file"}}
    </a>
    {{doc.extension}},
    {{number-to-human-size doc.size}}
  </p>
{{/each}}
