<h4 class="au-jump-to__trigger pointer" onclick={{action "onToggle"}}>
  On this page: <small>(click to open)</small>
</h4>
{{#if isOpen}}
  <ul class="au-link-list au-jump-to__links">
    {{#each sections as |item|}}
      {{#unless item.hide}}
        <li>
          {{scroll-to label=item.name onScroll=(action "onClose") target=(concat "#" item.anchor) tagName="a" duration=300 classNames="pointer"}}
        </li>
      {{/unless}}
    {{/each}}
  </ul>
{{/if}}
