{{#each items as |item|}}
  <div class="little-padding">
    {{ds/radio-button
      value=item.key
      label=item.label
      field=(mut field)
      disabled=disabled
      onChange=onChange
    }}
  </div>
{{/each}}
