<div class="container-fluid">
  <div>
    {{#link-to "index" class="au-header__brand"}}
      <img
        class="au-header__brand-image"
        alt="Insert alternate text here"
        src="/ict/images/logo-white.svg"
      >
    {{/link-to}}
    {{ dds/drop-down auth=auth
      droplinks=(array
        (hash name="Account settings" route="supplier-application")
        (hash name="Profile builder" route="profile-builder")
        (hash name="Dashboard" route=(if auth.isSeller "seller-dashboard" "buyer-dashboard"))
      )
    }}
    <!-- ### temp route above "seller-application"; NB - change to new page: "supplier-account" when supplier account page merged to release-21 ###-->
  </div>
  <div>
    {{#link-to "index" class="au-header__brand"}}
      <div class="au-header__text">
        <h2 class="au-header__heading au-display-xxl">buy.nsw</h2>
        <div class="au-header__heading au-display-sm">Simplifying NSW government procurement</div>
      </div>
    {{/link-to}}
  </div>
</div>
