<h5 class="au-display-md">
  <b class="dark-sapphire">Flagship product or service</b>
</h5>
<p>
  {{form.flagship_product}}
</p>
<hr class="super-light">
<h5 class="au-display-md">
  <b class="dark-sapphire">About this supplier</b>
</h5>
<p>
  {{breaklines form.summary}}
</p>
