<h5 class="au-display-md">
  <b class="sapphire">Embed a video</b>
</h5>
<p>
  Provide a youtube ID of your video
</p>
<p>
  {{dds/text-input
    field=(mut form.promotional_video)
    invalid=(v-get form 'promotional_video' 'isInvalid')
    errorMessage=(v-get form 'promotional_video' 'message')
    theme="sapphire"
    thin=true
    wide=true
    allRow=true
  }}
</p>
