{{#dds/accordion-container
  title="References and case studies"
  subline="Tip: References (especially for other government projects) and case studies may help buyers make a decision."
  theme="sapphire"
  expanded=false}}
  <hr class="super-light">
  {{#if underEdit}}
    {{seller-profile/reference-and-case-study-edit form=form}}
  {{else}}
    {{seller-profile/reference-and-case-study-view form=form buyerView=true}}
  {{/if}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>
{{/dds/accordion-container}}
