<h3 class="au-display-md">Countries</h3>
<br>
{{dds/text-area
  field=(mut product.countries)
  onChange=(action (mut showCountryListError) true)
}}
{{#if (or showError showCountryListError)}}
  {{#if (v-get this "product.countries" "isInvalid")}}
    <div class="form-error">
      {{v-get this "product.countries" "message"}}
    </div>
  {{/if}}
{{/if}}
