  <h3 class="au-display-md">Type</h3>
  <p>
    {{dds/radio-button
      value="management-only"
      label="Mobile Device Management only"
      field=(mut product.mobile_device_management_type)
      onChange=(action (mut showTypeError) true)
    }}
  </p>
  <p>
    {{dds/radio-button
      value="management-as-a-managed-service"
      label="Mobile Device Management as Managed Service"
      field=(mut product.mobile_device_management_type)
      onChange=(action (mut showTypeError) true)
    }}
  </p>
  {{#if (or showError showTypeError)}}
    {{#if (v-get this "product.mobile_device_management_type" "isInvalid")}}
      <div class="form-error">
        {{v-get this "product.mobile_device_management_type" "message"}}
      </div>
    {{/if}}
  {{/if}}
  <hr>
