<h3 class="au-display-md">Service Type</h3>
<br>
{{dds/checkbox-array
  items=items
  field=(mut product.service_types)
  onChange=(action (mut showServiceTypeError) true)
}}
<div class="clear-both"></div>
{{#if (or showError showServiceTypeError)}}
  {{#if (v-get this "product.service_types" "isInvalid")}}
    <div class="form-error">
      {{v-get this "product.service_types" "message"}}
    </div>
  {{/if}}
{{/if}}
