<div class="row">
  <div class="col-sm-18">
    {{yield}}
  </div>
  <div class="col-sm-6">
    {{dds/radio-button
      field=(mut field)
      value="complete"
      label="Complete"
    }}
  </div>
  <div class="col-sm-6">
    {{dds/radio-button
      field=(mut field)
      value="partial"
      label="Partial"
    }}
  </div>
  <div class="col-sm-6">
    {{dds/radio-button
      field=(mut field)
      value="non-compliant"
      label="Non compliant"
    }}
  </div>
</div>
