body {
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 0.8em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: $dark-blue;
  text-decoration: underline;

  &:hover {
    color: darken($dark-blue, 10%);
  }

  &:focus {
    background-color: $focus-colour;
    outline: 3px solid $focus-colour;
  }
  &:link:focus {
    color: $black;
  }
}
