<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_produce}}
  <b>Produce and maintain an availability plan for the services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_targets}}
  <b>Ensure that service availability targets are met or exceeded as specified in the Service Description - Common Services or Price Book. </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_diagnosis}}
  <b>Assist with the diagnosis and resolution of availability related Incidents and Problems</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_changes}}
  <b>Assess the impact of all changes on the availability of the services</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_improvement}}
  <b>Continuous Improvement: all managed services must be reviewed at least yearly to ensure they continue to meet industry best practice and Eligible Customer security requirements. Findings need to be documented and presented to the Eligible Customer and Contract Authority and the required remediation and service improvements must be implemented within 3 months by the Tenderer.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.availability_statistics}}
  <b>Availability statistics must be provided as reports to the Eligible Customer on a monthly basis.</b>
{{/telco-forms/shared/service-compliance}}
