<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_define}}
  <b>Define and control the constituent components of any service</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_maintain}}
  <b>Maintain and provide accurate information to enable faster decision-making.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_audit}}
  <b>Provide Audits the extent and type of which will be agreed with the Eligible Customer</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_docs}}
  <b>Current as-built documentation must be maintained for all services provided, and updated within one month of any change.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.asset_signatures}}
  <b>IDS/IPS and Anti-Virus policy signatures and critical vendor patches are updated at a maximum of 2 Business Days after the signature gets released or otherwise agreed with the Eligible Customer. 
This signature update will be non-business impacting.</b>
{{/telco-forms/shared/service-compliance}}
