<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.service_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_disaster}}
  <b>Develop a Disaster Recovery Plan.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_disaster_report}}
  <b>Validate Disaster Recovery Plan annually.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_reports}}
  <b>Provide reports to the Eligible Customer relating to any testing of Disaster Recovery Plans</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_continuity}}
  <b>Develop a Service Continuity Plan.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_continuity_report}}
  <b>Validate Service Continuity Plan annually.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_testing}}
  <b>Provide reports to the Eligible Customer relating to any testing of Service Continuity Plans</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.service_support}}
  <b>Provide support for manual and automated fail-over in Disaster Recovery documentation.</b>
{{/telco-forms/shared/service-compliance}}
