<div class="col-sm-10">
  <br>
  <h3 class="au-display-md">Your Fixed Data product:</h3>
  <h2 class="au-display-lg form-title">Passive Point to Point - Dark Fibre</h2>
  <p>Please select the features and attributes of your TPA compliant product:</p>
  <hr>
  {{telco-forms/shared/sla-availability product=(mut product)}}
  {{telco-forms/shared/secondary-services product=(mut product)}}
  {{telco-forms/shared/endpoint-reachability product=(mut product)}}
</div>
<div class="clear-both"></div>
