<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_function}}
  <b>Provide function in accordance with the Service Description - Common Services.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_capacity}}
  <b>Manage capacity based on forecasted Demand</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_create}}
  <b>Create and maintain a Demand Management plan </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_review}}
  <b>Continually reviewing current forecasted Eligible Customer Demand and align capacity to that Demand</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_assess}}
  <b>Gather and assess data regarding increased Demand and incorporate that Demand into the needed capacity</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_improvement}}
  <b>Continuous Improvement: all managed services must be reviewed at least yearly to ensure they continue to meet industry best practice and Eligible Customer security requirements. Findings need to be documented and presented to the Eligible Customer and Contract Authority and the required remediation and service improvements must be implemented within 3 months by the Tenderer.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_advise}}
  <b>The Tenderer shall advise the Eligible Customer when the capacity of the service approaches 80% of the provided service on an average consistent basis.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.demand_reports}}
  <b>Provide quarterly reports on Demand and forecasted Demand as it relates to Capacity</b>
{{/telco-forms/shared/service-compliance}}
