<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Common Services Compliance:</h3>
    <h2 class="au-display-lg form-title"><b></b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
  </div>
</div>
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_function}}
  <b>Provide function in accordance with the Service Description - Common Services, including service credits where targets are not met. </b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_details}}
  <b>Provide details for the key point indicators (KPI’s) for each service level.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_matrix}}
  <b>Provide a matrix for the measurement and format of reports on service delivery against agreed service levels.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_service}}
  <b>Service levels are agreed between the Eligible Customer and the Tenderer, explicitly defined, and documented.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_reporting}}
  <b>The reporting cadence, reporting format and measurements will be mutually agreed.
Cadence of weekly, monthly, quarterly, 6-monthly and annually should be offered.</b>
{{/telco-forms/shared/service-compliance}}
<hr>
{{#telco-forms/shared/service-compliance field=product.slm_improvement}}
  <b>Continuous Improvement: all managed services must be reviewed at least yearly to ensure they continue to meet industry best practice and Eligible Customer security requirements. Findings need to be documented and presented to the Contract Authority and the required remediation and service improvements must be implemented within 3 months by the Tenderer.</b>
{{/telco-forms/shared/service-compliance}}
