<h3 class="au-display-md">Availability</h3>
<br>
{{ds/checkbox-array
  items=items
  field=(mut product.availability)
  onchange=(action (mut showError) true)
}}
<div class="clear-both"></div>
{{#if showError}}
  {{#if (v-get this "product.availability" "isInvalid")}}
    <div class="form-error">
      {{v-get this "product.availability" "message"}}
    </div>
  {{/if}}
{{/if}}
