<h3 class="au-display-md">Availability</h3>
<br>
{{ds/checkbox-array
  items=items
  field=(mut product.availability)
}}
<div class="clear-both"></div>
{{#if (v-get this "product.availability" "isInvalid")}}
  <div class="form-error">
    To add this product one of the above options have to be selected.
  </div>
{{/if}}
