<h3 class="au-display-md">Back-end Type</h3>
<br>
{{#each items as |item|}}
  <div class="col-sm-3">
    {{checkbox-array
      name=item.key
      label=item.label
      field=(mut product.back_end_types)
    }}
  </div>
{{/each}}
