<h3 class="au-display-md">Base</h3>
<br>
{{#each items as |item|}}
  <div class="col-sm-6">
    {{checkbox-array
      name=item.key
      label=item.label
      field=(mut product.base_requirements)
    }}
  </div>
{{/each}}
