  <h3 class="au-display-md">Flagfall</h3>
  <p>
    To be compliant with the TPA, this product must have <b>no Flagfall.</b>
  </p>
  {{ds/radio-button
    name="flag-fall"
    value="yes"
    label="This product meets the requirement"
    field=(mut product.flagfall_requirement)
    onchange=(action (mut showError) true)
  }}
  {{ds/radio-button
    name="flag-fall"
    value="no"
    label="This product does NOT meet the requirement"
    field=(mut product.flagfall_requirement)
    onchange=(action (mut showError) true)
  }}
  {{#if showError}}
    {{#if (v-get this "product.flagfall_requirement" "isInvalid")}}
      <div class="form-error">
        {{v-get this "product.flagfall_requirement" "message"}}
      </div>
    {{/if}}
  {{/if}}
  <hr>
