<h3 class="au-display-md">Location</h3>
<br>
<div class="col-sm-3">
  {{checkbox-array
    name="metro"
    label="Metro"
    field=(mut product.locations)
  }}
</div>
<div class="col-sm-3">
  {{checkbox-array
    name="regional"
    label="Regional"
    field=(mut product.locations)
  }}
</div>
<div class="col-sm-3">
  {{checkbox-array
    name="remote"
    label="Remote"
    field=(mut product.locations)
  }}
</div>
