<h3 class="au-display-md">Secondary services</h3>
{{radio-button
  name="secondary_services_available"
  value="yes"
  label="Yes"
  field=(mut product.secondary_services_available)
}}
{{radio-button
  name="secondary_services_available"
  value="no"
  label="No"
  field=(mut product.secondary_services_available)
}}
<hr>
