  <h3 class="au-display-md">Availability</h3>
  <p>
    To be compliant with the TPA, this product must offer an <b>availability SLA of ≥99.9%.</b>
  </p>
  {{ds/radio-button
    value="yes"
    label="This product meets the requirement"
    field=(mut product.sla_availability_requirement)
    onChange=(action (mut showError) true)
  }}
  {{ds/radio-button
    value="no"
    label="This product does NOT meet the requirement"
    field=(mut product.sla_availability_requirement)
    onChange=(action (mut showError) true)
  }}
  {{#if showError}}
    {{#if (v-get this "product.sla_availability_requirement" "isInvalid")}}
      <div class="form-error">
        {{v-get this "product.sla_availability_requirement" "message"}}
      </div>
    {{/if}}
  {{/if}}
  <hr>
