<h3 class="au-display-md">Committed Symmetrical Bandwidth</h3>
<br>
{{#each items as |item|}}
  <div class="col-sm-3">
    {{checkbox-array
      name=item.key
      label=item.label
      field=(mut product.committed_symmetrical_bandwidth)
    }}
  </div>
{{/each}}
