{{dds/template-header auth=auth}}
<hr class="simple-white">

<main id="content">
  <div class="au-body au-body--dark">
    {{#dds/template-body auth=auth auth=auth}}
      <div align="center">
        <br>
        <br>
        <p>ERROR</p>
        <h1 class="au-heading--dark au-display-xxxl"><b>403</b></h1>
        <hr>
        <h3>You are not authorised to access this page</h3>
      </div>
    {{/dds/template-body}}
  </div>
</main>

{{dds/template-footer auth=auth}}
