{{#dds/template-body auth=auth}}
  <h2>What can we help you with?</h2>

  <h3>Getting started</h3>

  <p>If you haven’t already, please take a moment to read our {{ link-to "buyer guide" "buyer-guide" }} or {{ link-to "supplier guide" "seller-guide" }}.</p>

  <p>If you have any questions about getting started email us at <a href="mailto:buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a></p>

  <h3>Media enquiries</h3>

  <p>Please contact Corporate Communications, NSW Department of Customer Service <a href="mailto:cc@customerservice.nsw.gov.au">cc@customerservice.nsw.gov.au</a></p>

  <h3>All other enquiries</h3>

  <p>Please contact ICT Procurement Transformation, NSW Department of Customer Service <a href="mailto:buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a></p>
{{/dds/template-body}}
