{{#dds/template-body auth=auth}}
  <h1>What can we help you with?</h1>

  <h2>Getting started</h2>

  <p>If you haven’t already, please take a moment to read our {{ link-to "buyer guide" "buyer-guide" }} or {{ link-to "supplier guide" "seller-guide" }}.</p>

  <p>If you have any questions about getting started email us at <a href="mailto:buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a></p>

  <h2>Media enquiries</h2>

  <p>Please contact Corporate Communications, NSW Department of Finance, Services and Innovation <a href="mailto:cc@finance.nsw.gov.au">cc@finance.nsw.gov.au</a></p>

  <h2>All other enquiries</h2>

  <p>Please contact ICT Procurement Transformation, NSW Department of Finance, Services and Innovation <a href="mailto:buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a></p>
{{/dds/template-body}}
