{{#dds/template-body auth=auth}}
  <div class="col-sm-6">
  </div>
  <div class="col-sm-24">
    <div class="failure-message">
      {{fa-icon icon size='4x'}}
      <h3 class="au-display-lg">{{title}}</h3>
      <p>{{description}}</p>
    </div>
  </div>
{{/dds/template-body}}
