{{#dds/template-body signout=true}}
  <h1 class="au-display-xl">Forgot your password?</h1>
  <p>We will send a one-time link to your email address, which you can use to reset your password.</p>
  <br>
  <p>
    <b>Email address</b>
    {{dds/text-input
      wide=true
      allRow=true
      field=(mut email)
      enter=(action "submit")
      invalid=(v-get this "email" "isInvalid")
      errorMessage=(v-get this "email" "message")
      apiError=apiError
      keepApiError=true
      float="right"
    }}
  </p>
  <p>
    <span class="float-right">
      {{dds/primary-button
        onClick=(action "submit")
        disabled=(v-get this "isInvalid")
        label="Send instructions"
      }}
    </span>
  </p>
{{/dds/template-body}}
