{{#dds/template-body signout=true}}
  <div class="col-sm-10">
    <h1 class="au-display-xl">Forgot your password?</h1>
    <p>We will send a one-time link to your email address, which you can use to reset your password.</p>
    <br>
    <p>
      <b>Email address</b>
      {{dds/text-input
        wide=true
        allRow=true
        field=(mut email)
        enter=(action "submit")
        focusOut=(action (mut showEmailError) true)
      }}
    </p>
    {{#if (and showEmailError (v-get this "email" "isInvalid"))}}
      <div>
        <span class="field-error error">Email address is not valid</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
    {{#if apiError}} 
      <div>
        <span class="field-error error">{{apiError}}</span>
      </div>
    {{/if}}
    <div class="clear-both"></div>
    <p>
      <span class="float-right">
        {{dds/link-button
          onClick=(action "submit")
          disabled=(v-get this "isInvalid")
          label="Send instructions"
        }}
      </span>
    </p>
  </div>
{{/dds/template-body}}
