{{#dds/template-body auth=auth signout=true}}
  <div class="col-sm-30 col-sm-offset-3">
    <h3><b>Forgot your password?</b></h3>
    <p>
      <div class="sm-col-36 col-md-24">
        We will send a one-time link to your email address, which you can use to reset your password.
      </div>
      <div class="clear-both"></div>
      <br>
      <b>Email address</b>
      {{dds/text-input
        wide=true
        noLabel=true
        field=(mut email)
        enter=(if (v-get this "isValid") (action "submit"))
        invalid=(v-get this "email" "isInvalid")
        errorMessage=(v-get this "email" "message")
        apiError=apiError.email
        float="right"
      }}
    </p>
    <p>
      <div class="sm-col-36 col-md-24">
        <br>
        <span class="float-right">
          {{dds/primary-button
            onClick=(action "submit")
            disabled=(v-get this "isInvalid")
            label="Send instructions"
          }}
        </span>
      </div>
    </p>
  </div>
{{/dds/template-body}}
