{{#dds/template-body}}
  <h1>License and attribution</h1>

  <p>
    Unless otherwise stated, the material on this website is licensed under a
    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License (International)</a>.
  </p>

  <p>
    We request attribution as: Copyright State of New South Wales (Department of Finance, Services and Innovation 2018) licensed under
    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC 4.0</a>.
  </p>

  <h2>Material not licensed under the Creative Commons Licence</h2>

  <p>The following material available from this website is not licensed under the Creative Commons Licence:</p>

  <ul>
  <li>NSW government logos, trademarks or symbols (except where they form an integral part of a document)</li>
  <li>Any material provided by third parties. Specifically, any information provided by sellers is not licensed under creative commons.</li>
  <li>Any images, photographs or illustrations (except where they form an integral part of a document)</li>
  </ul>

  <p>
    To seek permission to use any material other than as permitted by this licence, contact
    <a href="mailto:buy.nsw@finance.nsw.gov.au">buy.nsw@finance.nsw.gov.au</a>.
  </p>

  <h2>Attribution</h2>

  <p>
    NSW Government acknowledges the UK Government Digital Service and for the materials that have been adapted from the UK Digital Marketplace. Anyone using this material should note that it includes public sector information licensed under the
    <a target="_blank" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">UK Open Government Licence v3.0</a>.
  </p>

  <p>
    NSW Government also acknowledges the
    <a target="_blank" href="https://www.dta.gov.au/">Digital Transformation Agency</a>
    for the materials that have been adapted from the
    <a target="_blank" href="https://marketplace.service.gov.au/">Digital Marketplace</a>.
    Anyone using this material should note it includes information licensed under
    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attributions 4.0 Licence (International)</a>.
  </p>
{{/dds/template-body}}
