{{dds/template-header nonav=true}}

<main id="content">
  <div class="au-body au-body--dark">
    {{#dds/template-body}}
      <div align="center">
        <br>
        <br>
        <p>ERROR</p>
        <h1 class="au-heading--dark au-display-xxxl"><b>404</b></h1>
        <hr>
        <h3>Page Not found</h3>
      </div>
    {{/dds/template-body}}
  </div>
</main>

{{dds/template-footer}}
