<div class="container-fluid less-space">
  <div class="row">
    <div class="col-xs-12 col-sm-1">
    </div>
    <div class="col-xs-12 col-sm-9">
      <nav
        class="au-breadcrumbs"
        aria-label="breadcrumb"
      >
        <ul class="au-link-list au-link-list--inline">
          <li>
            {{ link-to "Dashboard" "seller-dashboard" }}
          </li>
          <li><b>Cloud Products</b></li>
        </ul>
      </nav>
      <h3 class="au-display-lg">Add cloud products</h3>

      <p>Adding products is optional and will take around 45 minutes per product.</p>

      <p>Each product must:</p>

      <ul>
        <li>have a unique name that's not your business name, eg. Nimbus by CloudTech Inc.</li>
        <li>be priced by the unit, instead of by an hourly or day rate of your employees</li>
        <li>be described in detail as to how it is hosted and delivered to the end user</li>
      </ul>

      <p>If what you offer is different, for example penetration testing services, you can still join <strong>buy.nsw</strong>. Please submit your application without adding cloud products. We may ask you for more information later.</p>

      <div class="warning">
        <br>
        <br>
        <div class="inner">
          <p>{{fa-icon "exclamation-triangle"}} Please don't create products for:</p>

          <ul>
            <li>professional services</li>
            <li>services priced as an outcome, eg. a website</li>
            <li>services priced by day or hourly rates</li>
          </ul>

          <p>This will delay the processing of your application.</p>
        </div>
      </div>
    </div>
  </div>
</div>
