{{#ds/template-body}}
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <h1>Apply to sell to NSW Government</h1>

    <p>To become a registered seller you need to tell us about your ICT business.</p>
    <p>The information you share will be used to create your seller profile and confirm your business meets the basic requirements to work with NSW government.</p>
    <p>It may take more than one visit to complete this application. But don't worry, your information is saved automatically if you need to come back later.</p>
    <h3>You'll need</h3>
    <ul>
      <li>your basic business information</li>
      <li>recent financial records</li>
      <li>current insurance documents</li>
    </ul>
    <h3>You'll be asked to</h3>
    <ul>
      <li>share details about products and services you offer</li>
      <li>provide details about your offering to support your application</li>
      <li>
        agree to use the
        <a
          href="https://www.procurepoint.nsw.gov.au/before-you-buy/standard-procurement-contract-templates/it-contract-templates/procure-it-framework-0"
        >
          ProcureIT Contracting Framework
        </a>
      </li>
    </ul>
    <br>
    <br>
    <p>
      <button
        class="au-btn"
        onclick={{action "startApplication"}}
      >
        Start application
      </button>
    </p>
  </div>
{{/ds/template-body}}
