{{#dds/template-body auth=auth signin=true}}
  {{ dds/bread-crumbs
    links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Supplier application")
    )
  }}
  <h2 class="au-display-xl underline-light">
    <b>Apply to be a supplier</b>
  </h2>
  <br>
  <p>
    To become a supplier on buy.nsw you need to tell us about your business.
  </p>
  <p>
    We will use the information you provide to create your supplier profile. First, we need to confirm your business meets the basic requirements to work with NSW Government.
  </p>
  <p>
    It may take more than one session for you to complete this application. But don't worry, you can save and exit if you need to come back later. At each step we indicate the time it might take you to complete it.
  </p>
  <p><b>Who you will need:</b></p>
  <p>
    <ul>
      <li>the person in your organisation who is authorised to sign contracts</li>
      <li>a person authorised to check your legal disclosures and financial statement</li>
    </ul>
  </p>
  <p>
    {{#link-to "team-members" class="au-cta-link small"}}
      Invite a team member
    {{/link-to}}
  </p>
  <br>
  <h2 class="au-display-lg">
    <b>Eligibility</b>
  </h2>
  <span class="pull-right">Approx 15m</span>
  <hr class="light">
  <p><b>Information we will ask for:</b></p>
  <p>
    <ul>
      <li>Any cloud products, services or support</li>
      <li>Any services you offer in NSW Government Data Centres (GovDC)</li>
    </ul>
  </p>
  <br>

  <h2 class="au-display-lg">
    <b>Company details</b>
  </h2>
  <span class="pull-right">Approx 5m</span>
  <hr class="light">
  <p><b>Information we will ask for:</b></p>
  <p>
    <ul>
      <li>Business name and ABN</li>
      <li>Contact details</li>
      <li>Business address</li>
      <li>Company type and size</li>
    </ul>
  </p>
  <br>

  <h2 class="au-display-lg">
    <b>Disclosures</b>
  </h2>
  <span class="pull-right">Approx 20m</span>
  <hr class="light">
  <div class="col-md-18">
    <p><b>Information we will ask for:</b></p>
    <p>
      <ul>
        <li>Legal disclosures</li>
        <li>Financial statements</li>
      </ul>
    </p>
    <br>
  </div>
  <div class="col-md-18">
    <p><b>Documentation we will ask for:</b></p>
    <p>
      A current financial statement including:
      <ul>
        <li>profit or loss statement</li>
        <li>balance sheet</li>
        <li>statement of cash flows</li>
        <li>statement of changes in equity</li>
        <li>and notes to the financial statements</li>
      </ul>
    </p>
  </div>
  <div class="clear-both"></div>
  <br>

  <h2 class="au-display-lg">
    <b>Insurances</b>
  </h2>
  <span class="pull-right">Approx 15m</span>
  <hr class="light">
  <div class="col-md-18">
    <p><b>Information we will ask for:</b></p>
    <p>
      <ul>
        <li>Professional indemnity and public liability insurance</li>
        <li>Workers' compensation insurance</li>
      </ul>
    </p>
    <br>
  </div>
  <div class="col-md-18">
    <p><b>Documentation we will ask for:</b></p>
    <p>
      <ul>
        <li>A certificate of currency for each respective insurance</li>
      </ul>
    </p>
  </div>
  <div class="clear-both"></div>
  <br>

  <h2 class="au-display-lg">
    <b>Company profile</b> (optional)
  </h2>
  <span class="pull-right">Approx 5m</span>
  <hr class="light">
  <p><b>Information we will ask for:</b></p>
  <p>
    <ul>
      <li>Company description and website</li>
      <li>Any awards and accreditations</li>
    </ul>
  </p>
  <br>
  <hr class="light">
  <span class="float-right">
    {{dds/primary-button
      onClick=(action "startApplication")
      label="Start application"
    }}
  </span>
{{/dds/template-body}}
