{{#dds/template-body auth=auth}}
  <h1>Supplier guide</h1>

  <h2>What is buy.nsw</h2>

  <p><strong>buy.nsw</strong> is a NSW Government procurement platform for cloud products and services.</p>

  <p>
    The platform launched on 31 May 2018. Over time it will grow to include more ICT and non-ICT procurement pathways.
  </p>

  <h2>Who can be a supplier</h2>

  <p>
    We’re now accepting applications from suppliers providing cloud products and services. This includes cloud software and applications, hosting and infrastructure, plus support services for transitioning to cloud and for monitoring and managing cloud environments.
  </p>

  <p>
    If this is you, {{ link-to "apply to be a supplier now" "register-seller" }}.
  </p>

  <p>
    This doesn’t include IT services not specific to cloud, such as advisory, talent acquisition or contingent workforce. If your service is not cloud specific, you won't be able to join <strong>buy.nsw</strong> right now. If you register your interest we'll contact you when <strong>buy.nsw</strong> opens to more ICT categories.
  </p>


  <h2>All suppliers on <strong>buy.nsw</strong> are on the ICT Services Scheme</h2>

  <p>
    All suppliers of cloud products and services on the <a target="_blank" href="https://www.procurepoint.nsw.gov.au/scm0020">ICT Service Scheme</a> have been invited to join <strong>buy.nsw</strong>. If you’re a cloud supplier on the ICT Services Scheme, and you have not yet joined <strong>buy.nsw</strong>, you will need to {{ link-to "apply" "register-seller" }} in order to accept the <strong>buy.nsw</strong> terms and share additional information about your business.
  </p>

  <p>
    Businesses who are not on the ICT Services Scheme, and who offer cloud products and services, can also {{ link-to "apply to join buy.nsw" "register-seller" }}. Once approved your business will be on the ICT Service Scheme for cloud products and services.
  </p>

  <p>
    Other businesses on the ICT Services Scheme will be invited to join <strong>buy.nsw</strong> as we open to more ICT categories.
  </p>

  <p>
    If you are an ICT business who does not provide cloud product or services, you can <a target="_blank" href="https://tenders.nsw.gov.au/?event=public.scheme.show&rftUUID=852B6035-ACFE-B0A3-D10121B360FF7371">join the ICT Services Scheme through eTendering</a>.
  </p>


  <h2>Work together on your application</h2>

  <p>Once you’ve created a supplier account you can complete your supplier profile — which is also your application to join <strong>buy.nsw</strong>.</p>

  <p>You can invite different members of your team to help complete the application. You'll need someone who can enter contracts on behalf of your company to agree to the Core Terms and submit the application.</p>

  <p>The information you submit in your application is used to create your supplier profile. Most information is published, some is only available to logged in buyers, as set out in our {{ link-to "terms of use" "terms-of-use" }}.</p>

  <h2>How we assess applications</h2>

  <p>We’ve kept the assessments simple. In essence we want to know:</p>

  <ul>
    <li>You have an ABN and it matches your business name</li>
    <li>What you have to offer is of interest to our buyers and relevant to <strong>buy.nsw</strong></li>
    <li>You have uploaded current documentation to allow buyers to perform due diligence</li>
  </ul>

  <h2>How long do assessments take</h2>

  <p>We will typically get back to you within 10 business days with the result of the assessment, or to let you know how your application is progressing. Assessment times may vary depending on demand.</p>

  <h2>Once approved, your business is listed automatically</h2>

  <p>
    If you’re approved, we’ll let you know by email. At this time your supplier profile and your products will appear on <strong>buy.nsw</strong>.
   </p>

  <h2>Profile and product amendments</h2>

  <p>
    Once your profile is live, you can update your information and add new  products. Simply sign into your supplier account where you can update your company details and documentation or start a new product application.
  </p>

  <p>
    Any changes you make to your profile or product application will need to be reviewed before going live. When you are happy with your changes, you can simply submit your application and we will notify you of the result within 10 business days.
  </p>

  <p>
    Please note, during this amendment process the most recent approved version of your supplier information will remain live on <strong>buy.nsw</strong>.
  </p>


  <h2>What to do if you have questions</h2>

  <p>
    If you have any questions you can contact us at <a href="mailto: buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a>.
  </p>

  <h2>Help make buy.nsw even better</h2>

  <p>
    <strong>buy.nsw</strong> is being developed to meet user needs. This means always being open to feedback from our buyers and suppliers. If you have any feedback or would like to take part in user research please email us at <a href="mailto: buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a>.
  </p>
{{/dds/template-body}}
