{{#dds/template-body}}
  <div class="col-sm-6">
  </div>
  <div class="col-sm-24">
    <div class="success-message">
      {{fa-icon icon}}
      <h3 class="au-display-lg">{{title}}</h3>
      <p>{{description}}</p>
    </div>
  </div>
{{/dds/template-body}}
