<TemplateBody>
  {{ bread-crumbs
    links=(array
      (hash name="Dashboard" route="seller-dashboard")
      (hash name="Telco products" route="telco-products")
      (hash name=this.model.form_name)
    )
  }}

  {{component
    this.model.component_name
    form_key=this.model.form_key
    product=this.model.product
  }}

  <br>
  <hr>
  <br>

  <p>
    <button class="au-btn" onclick={{action "saveProduct"}}>Save and continue</button>
    &nbsp;
    &nbsp;
    &nbsp;
    {{link-to "Cancel and return later" "telco-products"}}
  </p>
</TemplateBody>

